$darkblue-primary: mat.define-palette(mat.$darkblue-palette, 700, 100, 900);
$blue-accent: mat.define-palette(mat.$grey-palette, 300, 100, 700);
$blue-warn: mat.define-palette(mat.$red-palette, A200);
 
$blue-theme: mat.define-light-theme((
    color: (
        primary: $darkblue-primary,
        accent: $blue-accent,
        warn: $blue-warn,
    )
));