


<h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>

  <mat-tab-group>
    <mat-tab label="Informacion ">

      <div class="mt-1"></div>

      <div class="mb-3">
        <label class="form-label">Solicitante</label>
        <input type="text" class="form-control"  placeholder="pendiente">
      </div>
      <div class="mb-3">
        <label class="form-label">Fecha de ingreso</label>
        <input type="text" class="form-control"  placeholder="pendiente">
      </div>
      <div class="mb-3">
        <label class="form-label">Carrera</label>
        <input type="text" class="form-control"  placeholder="pendiente">
      </div>












    </mat-tab>
    <mat-tab label="Calificaciones"> Calificaciones </mat-tab>
    <mat-tab label="Comentarios">  </mat-tab>
  </mat-tab-group>




</div>

<mat-dialog-actions>
  <button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <!-- <button mat-button [mat-dialog-close]="true">Delete</button> -->
</mat-dialog-actions>


