:host {
  display: block;
}

/* Estilo personalizado para el título del diálogo */


/* Estilo personalizado para el contenido de la pestaña */
.mat-tab-group {
  margin-top: 16px; /* Ajusta el espaciado superior según tus preferencias */
}

/* Estilo personalizado para el contenido específico de la pestaña */
.mat-tab-body {
  padding: 16px; /* Ajusta el espaciado del contenido de la pestaña según tus preferencias */
}
