

<div class="container-fluid" id="contenido">
  <button class="btn btn-primary btn-sm" *ngIf="!generadoPDF" (click)="back()" >
    <i class="fas fa-arrow-left"></i> Regresar
  </button>
  <h1 class="display-6 text-center">Evaluacion # {{numEvaluacion}}</h1>



  <div class="card mt-1">
    <div class="card-body">
      Evaluacion de: <strong>  {{misDatos?.nombre}} </strong>

      <div class="row">
        <div class="col">
          Fecha de Evaluacion: {{fechaEvaluacion | date:'dd/MM/yyyy' }}
        </div>
        <div class="col">
          <button class="btn btn-primary btn-sm" *ngIf="!generadoPDF" (click)="generarPDF()" >Descargar PDF</button>
        </div>
        <div class="col">
          <button class="btn btn-success btn-sm" *ngIf="!generadoPDF" >Descargar Excel</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row mt-2">
    <div *ngFor="let a of competencias" class="col-md-4 form-check">
      <label class="form-check-label">
        <span *ngIf="!elementosSeleccionados.includes(a.id)" class="unchecked-checkbox">
          <i class="fas fa-times"></i>
        </span>
        <span *ngIf="elementosSeleccionados.includes(a.id)" class="checked">
          <i class="fas fa-check"></i>
        </span>
        {{a.elemento}}
      </label>
    </div>
  </div>


  <div class="card mt-1">
    <div class="card-body">
      <h5 class="card-title">Sugerenicas u Observaciones: </h5>

      {{this.observacion}}
    </div>
  </div>


</div>
