
<body>

  <div class="container mt-4">
    <h2 class="mb-3">Lista de Becarios</h2>

    <div class="mb-3">
      <input type="text" class="form-control" placeholder="Buscar por nombre" [(ngModel)]="filtroNombre" >
    </div>

    <div class="row">
      <div *ngFor="let bec of becarios | filter: filtroNombre | slice:0:becariosMostrados"  class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
            <h5 class="card-title"> nombre:    {{ bec.nombre.length > 15 ? (bec.nombre | slice:0:15) + '... ' : bec.nombre }} </h5>

            <p class="card-text"> correo: {{bec.correo}} </p>
            <p class="card-text"> Area: {{bec.area}} </p>
            <button class="btn btn-primary btn-sm">Ver mas..</button>

            <!-- Agrega más detalles según tus necesidades -->
          </div>
        </div>
      </div>

      <!-- Agrega más bloques de col-lg-4 según la cantidad de usuarios -->

    </div>

    <!-- Botón para cargar más usuarios -->
    <div class="text-center mt-3">
      <button class="btn btn-primary" (click)="cargarMasBecarios()" >
      <span *ngIf="cargandoBecarios">Cargando...</span>
      <span *ngIf="!cargandoBecarios">Cargar mas Usuarios</span>
      </button>
    </div>
  </div>

</body>
