
.aviso {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ajusta la altura según tus necesidades */
  width: 50vh;
  padding: 2rem;
  margin-left: 2.5rem;
}


.aviso2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Ajusta la altura según tus necesidades */
  width: 50vh;

}
