<div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
        <h2 class="text-muted text-center">Detalles de Cuenta</h2>
        <form [formGroup]="infoForm" (ngSubmit)="onInfoFormSubmit(infoForm.value)">
            <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Primer Nombre" formControlName="firstName" required>
                <mat-error *ngIf="infoForm.controls.firstName.errors?.required">El primer nombre es requrido</mat-error>
                <mat-error *ngIf="infoForm.controls.firstName.hasError('minlength')">Debe tener minimo 3 letras </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Apellido " formControlName="lastName" required>
                <mat-error *ngIf="infoForm.controls.lastName.errors?.required">El apellido es requerido </mat-error>
                <mat-error *ngIf="infoForm.controls.lastName.hasError('minlength')">Debe tener minimo 4 letras </mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Telefono" formControlName="email" required>
                <mat-error *ngIf="infoForm.controls.email.errors?.required">El telefono es requerido </mat-error>
                <!-- <mat-error *ngIf="infoForm.controls.email.hasError('pattern')">Correo invalido, initenta otra vez</mat-error> -->
                <mat-error *ngIf="infoForm.controls.email.hasError('pattern')">Telefono invalido, intenta otra vez</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onInfoFormSubmit(infoForm.value)">Guardar</button>
            </div>
        </form>
    </div>
    <!-- //todo empieza el otro fomrulario  -->
    <div fxFlex="100" fxFlex.gt-sm="50" class="p-2" ngClass.sm="mt-2" ngClass.xs="mt-2">
        <h2 class="text-muted text-center">Cambiar Contraseña</h2>
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit(passwordForm.value)">
            <!-- <mat-form-field class="w-100 mt-2">
                <input matInput placeholder="Contraseña antigua" formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">La contraseña es requerida</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">La contraseña debe tener minimo 6 letras </mat-error>
            </mat-form-field> -->
            <mat-form-field class="w-100 mt-1">
                <input matInput placeholder="Nueva contraseña" formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">la nueva coontraseña es requerida</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">la nueva contraseña debe tener minimo 6 letras</mat-error>
            </mat-form-field>
            <mat-form-field class="w-100 mt-1">
              <input matInput placeholder="Confirmar la nueva contraseña" formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">la confirmacion de la contraseña es requerida </mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">las coontraseñas no coinciden</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" (click)="onPasswordFormSubmit(passwordForm.value)">Cambiar</button>
            </div>
        </form>
    </div>
</div>
