

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  //width: 100%;
}

h2{
  text-align: center;
}

.btn-bottom {
  margin-top: 20px; /* Ajusta el valor según sea necesario */
}

.input-long {
  width: 300px; /* Ajusta el valor según sea necesario */
}

