
<h1 class="titulo_1">Recuperación de contraseña</h1>

<div class="containerAlert">
  <div class="mat-alert mat-alert-success success-alert" role="alert" *ngIf="correoEnviado">
    <h4 class="mat-alert-title">¡Bien hecho!</h4>
    <div class="mat-alert-subtitle">Se ha enviado un correo a la dirección proporcionada</div>
  </div>
</div>

<main class="form-signin">
  <form class="container">
    <img class="imagen" src="assets/images/flags/diken_azulL.png" alt="imagen Diken" width="200" height="60">
    <h1 class="mat-h3 mb-3 fw-normal text-center text-lg">Por favor introduce tu correo electrónico</h1>
    <mat-form-field class="mat_form_field" appearance="fill">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="email" placeholder="name@example.com" [(ngModel)]="correo" name="correo">
    </mat-form-field>

    <div class="button-group">
      <div class="button-row">
        <button mat-raised-button color="primary" [disabled]="correoEnviado" (click)="mandarToken()">Mandar Correo</button>
      </div>

      <div class="button-row">
        <button mat-raised-button color="warn" (click)="irASesion()">Iniciar Sesión</button>
      </div>
    <div class="pie">
      <p class="mt-5 mb-3 text-muted">© 2014–2023</p>
    </div>
    </div>

  </form>
</main>
