

<div class="card">


  <h4 class="card-header">

    Aprobar Solicitudes Por Parte de Desarrollo Humano
  </h4>


  <div class="card-body">

    <h5 class="card-title">
      Solicitudes
    </h5>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Solicitado Por</th>
          <th scope="col">Area</th>
          <th scope="col">Actividades</th>
          <th scope="col">Carrera</th>
          <th scope="col">Estatus</th>
        </tr>
      </thead>
      <tbody>
       <tr>
          <th scope="row">Pendiente</th>
          <td>Pendiente</td>
          <td>Pendiente</td>
          <td>Pendiente</td>
          <td>Pendiente</td>
        </tr>
      </tbody>
    </table>


  </div>

</div>
