

<div class="card">


  <h4 class="card-header">

    Aprobar Solicitudes Por Parte de Desarrollo Humano
  </h4>


  <div class="card-body">

    <h5 class="card-title">
      Solicitudes
    </h5>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">Solicitado Por</th>
          <th scope="col">Fecha</th>
          <th scope="col">Area</th>
          <th scope="col">Actividades</th>
          <th scope="col">Carrera</th>
          <th scope="col">Estatus</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let aceptado of aceptadosRH">
          <th scope="row"> {{aceptado.nombre_empleado}} </th>
          <td> {{aceptado.Fecha | date:'dd/MM/yyyy'}} </td>
          <td> {{aceptado.Area}} </td>
          <td> {{ aceptado.Actividades.length > 30 ? (aceptado.Actividades | slice:0:30) + '... ' : aceptado.Actividades}} </td>
          <td> {{aceptado.profesion}} </td>
          <td> <button class="btn btn-primary btn-sm" (click)="irDetalles(aceptado.id)" >{{aceptado.estatus}} </button> </td>
        </tr>
      </tbody>
    </table>

  </div>

</div>
