
<div class="h4 text-center">Evaluacion # {{numEvaluacion}} </div>



<!-- <form> -->
  <div class="div" *ngFor="!pantalla">
  <div class="container mt-3 alert alert-secondary">
      <div class="row">
        <div class="col-md-4">
          <p class="text-secondary">Se evaluaran las Habilidades del becario</p>

      <div *ngFor="let habilidad of habilidades1">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="habilidad-{{ habilidad.id }}"
            [id]="'habilidad-' + habilidad.id"
            [(ngModel)]="checkboxesEstado[habilidad.id]"

          />
          <label class="form-check-label" for="{{ 'habilidad-' + habilidad.id }}">
            {{ habilidad.elemento }}
          </label>
        </div>
      </div>
      </div>
      <div class="col-md-4">
      <p class="text-secondary ">se evaluara las Aptitudes del becario </p>
      <div *ngFor="let habilidad of habilidades2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="habilidad-{{ habilidad.id }}"
            [id]="'habilidad-' + habilidad.id"
            [(ngModel)]="checkboxesEstado[habilidad.id]"

          />
          <label class="form-check-label" for="{{ 'habilidad-' + habilidad.id }}">
            {{ habilidad.elemento }}
          </label>
        </div>
      </div>
      </div>
      <div class="col-md-4">
      <p class="text-secondary">se evaluara las Actitudes del becario </p>
      <div *ngFor="let habilidad of habilidades3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="habilidad-{{ habilidad.id }}"
            [id]="'habilidad-' + habilidad.id"
            [(ngModel)]="checkboxesEstado[habilidad.id]"

          />
          <label class="form-check-label" for="{{ 'habilidad-' + habilidad.id }}">
            {{ habilidad.elemento }}
          </label>
        </div>
      </div>
    </div>
    </div>
  </div>



  <div class="mb-3">
    <label  class="form-label">Comentarios</label>
    <textarea class="form-control" rows="3" [(ngModel)]="comentario"></textarea>
    <div *ngIf="advertencia" class="text-danger">Debes llena los comentarios obligatorio</div>

  </div>

  <div class="row mt-2">

    <div class="col-2">
      <button type="button" class="btn btn-primary"(click)="agregarEvaluacion()" >Enviar Datos</button>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-danger" (click)="atras()"  >Atras</button>
    </div>

  </div>
  </div>


  <div *ngIf="pantalla"  class="confirmation-message">
    <i class="fas fa-check-circle check-icon"></i>
    <p>Has Completado la Evaluacion de [pendiente]</p>
    <a routerLink="/rhnet/mis_Evaluaciones">Ir a Mis Evaluaciones</a>
  </div>

<!-- </form> -->
