

<form>
  <div class="container mt-3">
    <div *ngFor="let categoria of Competencia">
      <h4 class="text-center">{{ categoria.competencia }}</h4>
      <div *ngFor="let habilidad of elementos">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name=""
            id=""
          />
          <label class="form-check-label" for="{{ 'habilidad-' + habilidad.id }}">
            {{ habilidad.elemento }}
          </label>
        </div>
      </div>
    </div>
  </div>
</form>
