



<h2>Detalles del pedido numero : {{idVenta}} </h2>
<div>
<button mat-raised-button color="primary" (click)="regresarAVentas()">Regresar a Pedidos</button>
</div>

<!-- <div class="mat-table orders-table">
  <div class="mat-header-row">
    <div class="mat-header-cell">Producto</div>
    <div class="mat-header-cell">Precio </div>
    <div class="mat-header-cell">Cantidad</div>

  </div>
    <div  class="mat-row" *ngFor="let detalle of detalles">

    <div class="mat-cell"> {{detalle.Producto}} <span class="order"></span></div>
    <div class="mat-cell">${{detalle.Precio | number : '1.2-2'}}</div>
    <div class="mat-cell"> {{detalle.Cantidad}} </div>


  </div>
</div> -->

<div fxLayout="row wrap">
  <div fxFlex="100" class="p-1">
    <h3 class="text-muted">Detalles de los Productos</h3>
    <div class="divider"></div>
    <div class="mat-table review-order-table">
      <div class="mat-header-row">
        <div class="mat-header-cell">Producto</div>
        <div class="mat-header-cell">Precio</div>
        <div class="mat-header-cell">Cantidad</div>

      </div>
      <div *ngFor="let detalle of detalles" class="mat-row">
        <div class="mat-cell">{{detalle.Producto}}</div>
        <div class="mat-cell">${{detalle.Precio | number: '1.2-2'}}</div>
        <div class="mat-cell">{{detalle.Cantidad}}</div>

      </div>
    </div>
  </div>
</div>





