table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 8px;
  // text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

//  td.estatus{

//   text-align: center;
// }
