
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mis_Pedidos</title>
</head>
<body>

<!-- todo es para mostrar el detalle de cada venta -->
  <app-detalles #detallesComponent *ngIf="mostrarDetallesComponent" [idVenta]="idDetalles" (regresar)="regresarDesdeDetalles()"  ></app-detalles>


  <div *ngIf="mostrarDetallesComponent ==false" class="table-container">
   <table *ngIf="Ventas.length > 0">
    <thead>
      <tr>

        <th>Numero de Pedido</th>
        <th>Numero Empelado</th>
        <th>Nombre</th>
        <th>Fecha de venta</th>
        <th>Total</th>
        <th>Estatus de la venta</th>
        <th>Acciones</th>

      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let venta of Ventas">
        <td>{{ venta.VentaEmpleadoId }}</td>
        <td>{{ NumeroEmpleado }}</td>
        <td>{{ Nombre }}</td>
        <td>{{ venta.Fecha | date :'dd/MM/yyyy' }}</td>
        <td>${{venta.Total | number : '1.2-2'}}</td>
        <td><strong>{{venta.Estatus}}</strong> </td>


          <!-- Agrega el botón con estilo de Angular Material -->
          <td>
            <button *ngIf="venta.IdEstatusVentaEmpleado === 1" mat-raised-button color="warn" (click)="mostrarMensajeAlerta(venta.VentaEmpleadoId)">Cancelar</button>
            <div class="espacio"></div> <!-- Agregar un espacio vertical -->

          <button class="boton_detalles"  (click)="ejemplo(venta.VentaEmpleadoId)" mat-raised-button color="primary" matTooltip="Ver detalles">
              Detalles
          </button>

          </td>
       </tr>

    </tbody>

     </table>
  <!-- </div> -->





  <div *ngIf="Ventas.length === 0 ">
    <p style="font-size: 24px; font-weight: bold; color: black;">No se han seleccionado pedidos.</p>
  </div>


  <!-- <button (click)="BtnCancelar()">Cancelar</button> -->
</div>


<!--todo colocar tabla de pedidos pero de colaboradores -->
<div class="colaboradores-div" *ngIf="mostrarDetallesComponent ==false">
  <h2 class="colaboradores-text">Colaboradores: </h2>
</div>


<div *ngIf="mostrarDetallesComponent ==false" class="table-container">
<table *ngIf="ventasColaboradores.length > 0">
  <thead>
    <tr>

      <th>Numero de Pedido</th>
      <th>Numero Empelado</th>
      <th>Nombre</th>
      <th>Fecha de venta</th>
      <th>Total</th>
      <th>Estatus de la venta</th>
      <th>Acciones</th>

    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let ventasColaboradores of ventasColaboradores">
      <td>{{ ventasColaboradores.VentaEmpleadoId }}</td>
      <td>{{ ventasColaboradores.Numero_Empleado }}</td>
      <td>{{ ventasColaboradores.Nombre }}</td>
      <td>{{ ventasColaboradores.Fecha | date :'dd/MM/yyyy' }}</td>
      <td>${{ventasColaboradores.Total | number : '1.2-2'}}</td>
      <td><strong>{{ventasColaboradores.Estatus}}</strong> </td>


        <!-- Agrega el botón con estilo de Angular Material -->
        <td>
          <button *ngIf="ventasColaboradores.IdEstatusVentaEmpleado === 1" mat-raised-button color="warn" (click)="mostrarMensajeAlerta(venta.VentaEmpleadoId)">Cancelar</button>
          <div class="espacio"></div> <!-- Agregar un espacio vertical -->

        <button class="boton_detalles"  (click)="ejemplo(ventasColaboradores.VentaEmpleadoId)" mat-raised-button color="primary" matTooltip="Ver detalles">
            Detalles
        </button>

        </td>
     </tr>

  </tbody>

   </table>



</div>
</body>
</html>
