<div class="container-fluid">
  <div class="card mt-4">
    <div class="row">

      <div class="auto">
      <img
        src="assets/images/others/semillero.png"
        class="rounded col-5"
        alt="logo"
      />
      </div>
    </div>

    <div class="card-header card-header-azure mt-2">
      <div class="row">
        <div class="col-8">
        <h4 class=" card-title">Semillero de talento</h4>
        </div>


        <div class="col-auto">
        <button class=" btn btn-primary">Crear solicitud</button>
       </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped"></table>
    </div>
  </div>
</div>
