<div class="container-fluid">
  <div class="card mt-4">
    <div class="row">

      <div class="auto">
      <img
        src="assets/images/others/semillero.png"
        class="rounded col-5"
        alt="logo"
      />
      </div>
    </div>

    <div class="card-header card-header-azure mt-2">
      <div class="row">
        <div class="col-8">
        <h4 class=" card-title">Mis Solicitudes</h4>
        </div>


        <div class="col-auto">
        <button (click)="openDialog()" class=" btn btn-primary">Crear solicitud</button>
       </div>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead class="table-primary">
          <tr>
            <!-- <th scope="col">Solicitado por</th> -->
            <th scope="col">Area</th>
            <th scope="col">Actividades</th>
            <th scope="col">Carreras</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estatus</th>
            <th scope="col">Comentarios</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let s of misSolicitudes">
            <th scope="row"> {{s.Area}} </th>
            <td>    {{ s.Actividades.length > 60 ? (s.Actividades | slice:0:60) + '... ' : s.Actividades }}
              <a *ngIf="s.Actividades.length > 60" style="cursor: pointer; text-decoration: underline; color: blue;" (click)="verMas(s.Actividades)">Ver más</a>

            </td>
            <td>  {{s.profesion}} </td>
            <td> {{s.Fecha | date:'dd/MM/yyyy'}} </td>
            <td> <strong>  {{s.estatus}} </strong> </td>
            <td>  <button type="button" (click)="verComentariosDialog(s.Comentarios,s.Comentarios_humano)" class="btn btn-primary">Ver</button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- todo es la otra parte, para aprobar de parte del jefe -->

    <div class="card mt-2">


      <div class="card-header card-header-azure mt-2">
        <div class="row">
          <div class="col-8">
          <h4 class=" card-title">Por Aprobar</h4>
          </div>
          </div>

      </div>

      <div class="card-body">

        <div class="table-responsive">
        <table class="table table-striped">
          <thead class="table-primary">
            <tr>
              <!-- <th scope="col">Solicitado por</th> -->
              <th scope="col">Solicitado Por</th>
              <th scope="col">Area</th>
              <th scope="col">Actividades</th>
              <th scope="col">Carreras</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estatus</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let aprobar of porAprobar">
              <th scope="row"> {{aprobar.nombre_empleado}} </th>
              <td> {{aprobar.Area}}  </td>
              <td>    {{ aprobar.Actividades.length > 60 ? (aprobar.Actividades | slice:0:60) + '... ' : aprobar.Actividades }}
                <a *ngIf="aprobar.Actividades.length > 60" style="cursor: pointer; text-decoration: underline; color: blue;" (click)="verMas(aprobar.Actividades)">Ver más</a>

              </td>
              <td> {{aprobar.profesion}} </td>
              <td> {{aprobar.Fecha | date:'dd/MM/yyyy'}} </td>
              <td>              <button type="button" class="btn" [ngClass]="{
                'btn-danger ': aprobar.Estatus === 1,
                'btn-warning ': aprobar.Estatus === 2,
                'btn-success ': aprobar.Estatus === 5
              }" (click)="irDetalles(aprobar.id)"> {{aprobar.estatus}} </button>
              </td>
              <!-- <td> -->

                <!-- <div class="btn-group" role="group" > -->
                  <!-- <button type="button" class="btn btn-danger">Denegar</button> -->
                  <!-- <button type="button" class="btn btn-warning" (click)="irDetalles(aprobar.id)">Ver</button> -->
                  <!-- <button type="button" class="btn btn-success">Aceptar</button> -->
                <!-- </div> -->


              <!-- </td> -->
            </tr>
          </tbody>
        </table>
        </div>
      </div>



      </div>







</div>

