<div fxLayout="row wrap">
<div class="p-1">
    <mat-card>
        <mat-card-content>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" fxLayout="row wrap">
                <div fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Producto</mat-label>
                            <input matInput formControlName="name" required>
                            <mat-error *ngIf="form.controls.name.errors?.required">El Producto es requerido</mat-error>
                            <mat-error *ngIf="form.controls.name.hasError('minlength')">El nombre del producto debe tener almenos 4 caracteres</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Precio</mat-label>
                            <input matInput formControlName="newPrice" required >
                            <mat-error *ngIf="form.controls.newPrice.errors?.required">El Precio es requerido</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Clase</mat-label>
                            <mat-select formControlName="ClaseId" required (valueChange)="changeClase($event)">
                                <mat-option *ngFor="let cat of dataClase" [value]="cat.ClaseId">
                                    <span>{{cat.Descripcion}}</span>
                                </mat-option>
                            </mat-select>

                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Familia</mat-label>
                            <mat-select formControlName="FamiliaId" required (valueChange)="changeFamilia($event)">
                                <mat-option *ngFor="let cat of dataFamilia" [value]="cat.FamiliaId">
                                    <span>{{cat.Descripcion}}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.FamiliaId.errors?.required">La Familia es requireda</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Sub Familia</mat-label>
                            <mat-select formControlName="SubFamiliaId" required>
                                <mat-option *ngFor="let cat of dataSubFamilia" [value]="cat.SubFamiliaId">
                                    <span>{{cat.Descripcion}}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.controls.SubFamiliaId.errors?.required">Category is required</mat-error>
                        </mat-form-field>
                    </div>


                    <div fxFlex="100" fxFlex.gt-sm="50" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Codigo Diken</mat-label>
                            <input matInput formControlName="CodigoDiken" type="text">
                        </mat-form-field>
                    </div>


                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tags</mat-label>
                            <input matInput formControlName="TextSearch">
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="100" class="px-1">

                            <mat-checkbox  formControlName="ParaVentaEmpleado" class="primary"  color= 'primary'>Habilitado para venta empleado</mat-checkbox>

                    </div>

                    <div fxFlex="33.3" class="px-1">
                        <p class="mt-1"><span class="uppercase fw-500">Pequeña</span><span class="text-muted px-1">(185X135)</span></p>
                        <input-file formControlName="images" fileLimit="1" fileAccept="image/*" required></input-file>
                    </div>
                    <div fxFlex="33.3" class="px-1">
                        <p class="mt-1"><span class="uppercase fw-500">Mediana</span><span class="text-muted px-1">(480X360)</span></p>
                        <input-file formControlName="imagesM" fileLimit="1" fileAccept="image/*" required></input-file>
                    </div>

                    <div fxFlex="33.3" class="px-1">
                        <p class="mt-1"><span class="uppercase fw-500">Grande</span><span class="text-muted px-1">(960X720)</span></p>
                        <input-file formControlName="imagesB" fileLimit="1" fileAccept="image/*" required></input-file>
                    </div>





                </div>
                <br>
                <!-- <div fxFlex="100" class="px-1">
                    <quill-editor
                    [(ngModel)]="htmlText"
                    placeholder="Enter Text"
                    [modules]="quillConfig"
                    (onSelectionChanged)="onSelectionChanged($event)"
                    (onContentChanged)="onContentChanged($event)"
                    ></quill-editor>

                    <div [innerHTML]="htmlText"></div>
                </div> -->
            </form>
            <div fxLayout="row wrap">
            <div fxFlex="50" class="px-2">
        <quill-editor
        [(ngModel)]="htmlText"
        placeholder="Escribir Descripción"
        [modules]="quillConfig"
        (onSelectionChanged)="onSelectionChanged($event)"
        (onContentChanged)="onContentChanged($event)"
        ></quill-editor></div>
        <div fxFlex="50" class="px-2">
        <div [innerHTML]="htmlText"></div>
        </div>
    </div>
    <div fxLayout="row wrap">
        <div fxFlex="50" class="px-2">
    <quill-editor
    [(ngModel)]="htmlTextCaracteristica"
    placeholder="Ecribir las Caracteristicas"
    [modules]="quillConfig"
    (onSelectionChanged)="onSelectionChanged($event)"
    (onContentChanged)="onContentChanged($event)"
    ></quill-editor></div>
    <div fxFlex="50" class="px-2">
    <div [innerHTML]="htmlTextCaracteristica"></div>
    </div>
</div>
    <div fxLayout="row wrap">
        <div fxFlex="100" class="mt-2 text-center w-100">
            <button style="float: right;" mat-raised-button color="primary" (click)="onSubmit()">Guardar</button>
        </div>
        </div>
        </mat-card-content>

</mat-card>

</div>
</div>
