<div *ngIf="!pantalla">
<h4>Agregar reservacion juntas</h4>
<p>Id de reservacion : </p>

<form [formGroup]="junta" (ngSubmit)="onSubmit()">

<div  class="alert alert-secondary">
<div class="mb-2">
  <label  class="form-label">Solicitado por:</label>
  <input type="text" class="form-control" [value]="usuario" disabled>
</div>

<div class="mb-2">
  <label class="form-label">Sala:</label>
<select id="sala" class="form-select" formControlName="sala" aria-label="Default select example">
  <option selected> </option>
  <option value="Capacitacion">Sala de capacitacion </option>
  <option value="planta 1 ">Sala planta 1 </option>
  <option value="planta 2">Sala planta 2</option>
</select>
<div
*ngIf="junta.get('sala').invalid && (junta.dirty || junta.touched)"
class="alert"
>
<div class="text-danger" *ngIf="junta.get('sala').errors?.['required']">La sala es requerida.</div>
</div>




</div>

<div class="mb-2">
  <label  class="form-label">Motivo: </label>
  <input type="text" class="form-control" formControlName="motivo">
  <div *ngIf="junta.get('motivo').invalid && (junta.dirty || junta.touched)" class="text-danger">  el motivo es requerido</div>
</div>
<div class="mb-2">
  <label  class="form-label">Descripcion: </label>
  <textarea class="form-control" id="descripcion" formControlName="descripcion" rows="3"></textarea>
  <div *ngIf="junta.get('descripcion').invalid && (junta.dirty || junta.touched)" class="text-danger">La descripcion es requerida</div>

</div>

<div class="mb-2">
  <label  class="form-label">Fecha: </label>
  <input type="date" class="form-control" formControlName="fecha" (change)="date()" [min]="currentDate" >
  <div *ngIf="junta.get('fecha').invalid && (junta.dirty || junta.touched)" class="text-danger">La fecha es requerida</div>
</div>

<div class="mb-2">
  <label  class="form-label">Hora Inicio: </label>
  <input type="time" class="form-control" formControlName="hora1" (change)="date()">
  <div *ngIf="junta.get('hora1').invalid && (junta.dirty || junta.touched)" class="text-danger">La hora de inicio es requerida</div>

</div>
<div class="mb-2">
  <label  class="form-label">Hora Final: </label>
  <input type="time" class="form-control" formControlName="hora2" (change)="date()">
  <div *ngIf="junta.get('hora2').invalid && (junta.dirty || junta.touched)" class="text-danger">La hora de termino es requerida</div>

</div>

<div class="mb-2">
  <p> <strong> Reglamento en el uso de la sala de capacitacion</strong> </p>
<ol class="list-group list-group-numbered">
  <li class="list-group-item">Respetar el horario apartado</li>
  <li class="list-group-item">Apagar las luces al salir</li>
  <li class="list-group-item">Apagar todos los equipos que se utilizaron</li>
  <li class="list-group-item">Si se movió inmobiliario regresarlo a su lugar original</li>
  <li class="list-group-item">Colocar la basura en el cesto</li>
  <li class="list-group-item">Reportar cualquier percance que se haya suscitado
  </li>
</ol>

<div class="form-check ms-2 mt-1">
  <input class="form-check-input" type="checkbox" value="" id="check">
  <label class="form-check-label" for="check">
    Aceptar y Continuar
  </label>
</div>


</div>


<button class="btn btn-primary" [disabled]="this.junta.invalid" type="submit">Enviar</button>

</div>
</form>
</div>



<div *ngIf="pantalla" class="alert alert-primary">
<p>la reservacion se ha registrado con exito, el dia {{this.junta.get('fecha').value}} en la sala  {{this.junta.get('sala').value}} </p>
<p>empieza a la hora {{this.junta.get('hora1').value}} y termina a las {{this.junta.get('hora2').value}} </p>

<button class="btn btn-danger" (click)="descargarPDF()">Descargar en PDF</button>
</div>


<!-- ejemplo apra descargar est en template de pfd -->






