

  <div class="mt-2 card">

    <div class="card-header card-header-azure">
      <h4 class="card-title">Solicitudes de colaboradores</h4>
      <!-- <p class="card-category">Mi Informacion</p> -->
    </div>

    <div class="card-body">


      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col"># Empleado</th>
              <th scope="col">Nombre</th>
              <th scope="col">Jefe</th>
              <th scope="col">Periodo</th>
              <th scope="col">Dias Solicitados</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Estatus</th>
              <th scope="col">Acciones</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitud of solicitudesCol">
              <th scope="row"> {{solicitud.Numero_empleado}} </th>
              <td> {{solicitud.TuNombre}} </td>
              <td>{{solicitud.NombreDelJefe}} </td>
              <td> {{solicitud.Periodo}}  </td>
              <td> {{solicitud.DiasSolicitados}} </td>
              <td> {{solicitud.Fecha_inicio |  date:'d/MM/y'}}  </td>
              <td> {{solicitud.FechaFin |  date:'d/MM/y'}} </td>
              <td> <strong> {{solicitud.Estatus}}  </strong> </td>
              <td>
                <div class="row">
                  <div class="col-md-12 ">
                    <button class="btn btn-info btn-sm my-2 " (click)="updateAutorizar(solicitud.Id)" [disabled]="solicitud.IdEstatusSolicitudVaciones !=1">Aprobar</button>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col-md-12 ">
                    <button class="btn btn-danger btn-sm" (click)="updateRechazar(solicitud.Id)" [disabled]="solicitud.IdEstatusSolicitudVaciones !=1" >Rechazar</button>
                  </div>
                  </div>

                </td>
            </tr>
          </tbody>
        </table>
      </div>








    </div>


  </div>

