<div *ngIf="!pantalla" class="container-fluid">
<form [formGroup]="miFormulario" (ngSubmit)="submitForm()">

<div class="mb-3">
  <label  class="form-label">Nombre</label>
  <input type="text" class="form-control"  formControlName="nombre">
  <div *ngIf="(miFormulario.get('nombre').hasError('required')) && miFormulario.get('nombre').touched " class="text-danger">
    El nombre es obligatiorio.
  </div>
</div>

<div class="mb-3">
  <label class="form-label">Universidad</label>
  <select class="form-select form-select-sm" formControlName="universidad">
    <option selected disabled>Selecciona una universidad</option>
    <option *ngFor="let u of listaUniversidades" [value]="u.nombre">{{ u.nombre }}</option>
  </select>
  <div *ngIf="miFormulario.get('universidad').hasError('required') && miFormulario.get('universidad').touched" class="text-danger">
    La universidad es obligatiorio.
  </div>
</div>


<div class="mb-3">
  <label  class="form-label">Carrera</label>
  <select class="form-select form-select-sm" formControlName="carrera">
    <option selected disabled>Selecciona una Carrera</option>
    <option *ngFor="let c of listaCarreras" [value]="c.nombre"  > {{c.nombre}}</option>
  </select>
  <div *ngIf="miFormulario.get('carrera').hasError('required') && miFormulario.get('carrera').touched" class="text-danger">
    La carrera es obligatorio.
  </div>
</div>

<div class="mb-3">
  <label  class="form-label">Area</label>
  <select class="form-select form-select-sm" formControlName="area">
    <option selected disabled>Selecciona una Area</option>
    <option *ngFor="let a of listaAreas " [values]="a.nombre"> {{a.nombre}} </option>
  </select>
  <div *ngIf="miFormulario.get('area').hasError('required') && miFormulario.get('area').touched" class="text-danger">
    El area es obligatorio.
  </div>
</div>

<div class="mb-3">
  <label  class="form-label">Correo</label>
  <input type="email" class="form-control" formControlName="correo">
  <div *ngIf="miFormulario.get('correo').hasError('email') && miFormulario.get('correo').touched" class="text-danger">
    El formato debe ser correcto.
  </div>
</div>
<div class="mb-3">
  <label  class="form-label">Fecha de Ingreso</label>
  <input type="date" class="form-control " formControlName="fecha_ingreso">
  <div *ngIf="miFormulario.get('fecha_ingreso').hasError('required') && miFormulario.get('fecha_ingreso').touched" class="text-danger">
    La fecha es obligatorio.
  </div>
</div>

<div class="mb-3">
  <label  class="form-label">Solicitante </label>
  <input type="text" class="form-control" disabled  formControlName="solicitante">
</div>




<div class="row">

  <div class="col-md-4">
    <button type="submit" class=" btn btn-primary">Guardar Datos</button>
  </div>

  <div class="col-md-2 mt-1">
    <button type="button" class="btn btn-danger"(click)="back()" >Atras</button>
  </div>
</div>

</form>
</div>

<div *ngIf="pantalla"  class="confirmation-message">
  <i class="fas fa-check-circle check-icon"></i>
  <p>Has dado de alta al becario</p>
  <a routerLink="/rhnet/Aprobar_Becario">Ir a ver Becarios</a>
</div>


