<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
            <form [formGroup]="info"  (ngSubmit)="onSubmit()">

              <div class="card">
                  <div class="card-header card-header-azure">
                      <h4 class="card-title">Editar Perfil</h4>
                      <p class="card-category">Mi Informacion</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label>Usuario </label>
                                  <input class="form-control" type="text" value="{{usuario}}"  disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label >Nombre</label>
                                  <input  value="{{usuario}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Numero de empleado</label>
                                  <input  value="{{numEmpleado}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <!-- <mat-form-field class="example-full-width"> -->
                                  <!-- <input matInput placeholder="Correo" type="email" placeholder="{{correo}}"> -->
                                  <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{correo}}">
                                <!-- </mat-form-field> -->
                              </div>
                              <div class="col-md-6">
                                <!-- <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{password}}" type="password">
                                </mat-form-field> -->
                                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="********">
                              </div>
                          </div>

                          <div class="row mt-4" >
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Empresa</label>
                                  <input  value="{{empresa}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Fecha alta</label>
                                  <input  value="{{fechaAlta}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Antiguiedad</label>
                                  <input  value="{{empresa}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                          </div>
                          <!-- <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field> -->
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              <!-- </div> -->
                          <!-- </div> -->
                          <button mat-raised-button color="primary" type="submit" >Actualizar Perfil</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
              </form>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <!-- <img class="img" src="{{nombreImagen}}" /> -->
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Puesto / PRACTICANTE</h6>
                      <h4 class="card-title">{{usuario}} </h4>
                      <p class="card-description">
                        Bienvenido {{usuario}} a nuestra plataforma
                      </p>
                      <!-- <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
