<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
            <form [formGroup]="info"  (ngSubmit)="onSubmit()">

              <div class="card">
                  <div class="card-header card-header-azure">
                      <h4 class="card-title">Editar Perfil</h4>

                      <p class="card-category">Mi Informacion</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-3">
                                <div class="form-group">
                                  <label>Usuario </label>
                                  <input class="form-control" type="text" value="{{usuario}}"  disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-5">
                                <div class="form-group">
                                  <label >Nombre</label>
                                  <input  value="{{empleados.nombre}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Numero de empleado</label>
                                  <input  value="{{numEmpleado}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                <!-- <mat-form-field class="example-full-width"> -->
                                  <!-- <input matInput placeholder="Correo" type="email" placeholder="{{correo}}"> -->
                                  <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="{{correo}}">
                                <!-- </mat-form-field> -->
                              </div>
                              <div class="col-md-6">
                                <!-- <mat-form-field class="example-full-width">
                                  <input matInput placeholder="{{password}}" type="password">
                                </mat-form-field> -->
                                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
                                  <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="********">
                              </div>
                          </div>

                          <div class="row mt-4" >
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Empresa</label>
                                  <input  value="{{empresa}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>Fecha alta</label>
                                  <input  value="{{fechaAlta}}" class="form-control" disabled readonly>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <div class="form-group">
                                  <label>años en la empresa</label>
                                  <input  value="{{empleados.AniosCumplidos}} año" class="form-control" disabled readonly>
                                </div>
                              </div>
                          </div>
                          <!-- <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                                 </mat-form-field> -->
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              <!-- </div> -->
                          <!-- </div> -->
                          <button mat-raised-button color="primary" type="submit" >Actualizar Perfil</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
              </form>
          </div>
          <div class="col-md-4">
              <!-- <div class="card  ">
                <div class="card-body">
                    <h6 class="card-category text-gray">Puesto / {{empleados.PUESTO}} </h6>
                    <h4 class="card-title">{{usuario}} </h4>
                    <p class="card-description">
                      Bienvenido {{usuario}} a nuestra plataforma
                    </p>
                </div>
                  <div  class="card mx-auto bg-primary " style="width: 12.0rem;">
                          <img class="img-fluid rounded mx-auto d-block p-1" [src]="imagenUsuario" />
                          <button class="btn btn-info mx-1">Cambiar Imagen</button>
                  </div>
              </div> -->
              <div class="card">
                <img class="card-img-top mx-auto mt-1" [src]="imagenUsuario" alt="Card image" style="width:50%">
                <div class="card-body">
                  <h4 class="card-title"> {{usuario}} </h4>
                  <p class="card-text">Bienvenido a nuestra pltataform RHnet {{usuario}} </p>
                  <!-- <a butt class="btn btn-primary">Cambiar Imagen</a> -->
                  <button class="btn btn-primary"> Cambiar Imagen</button>
                </div>
          </div>
      </div>
  </div>
</div>
