.mat-mdc-form-field {
  margin-top: 16px;
}

.review-order-table.mat-table {
  display: block;
  overflow-x:auto;
  .mat-row, .mat-header-row {
      display: flex;
      border-bottom-width: 1px;
      border-bottom-style: solid;
      align-items: center;
      min-height: 48px;
      padding: 0 24px;
      min-width: 760px;
  }
  .mat-row{
      min-height: 60px;
  }
  .mat-cell, .mat-header-cell {
      flex: 1;
      overflow: hidden;
      word-wrap: break-word;
  }
  .mat-header-cell {
      font-size: 14px;
  }
  .mat-cell{
      img{
          width: 60px;
      }
  }
}

mat-form-field {
  margin: 0 19px 23px 0;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}
.example-margin1 {
  margin: 0 10px 15px;
}


.formAdicional {
  display: flex;
  align-items: center;
  margin-top: 10px; /* Ajusta el margen superior según tus preferencias */
  align-items: center;
}

.formAdicional .divider {
  width: 1px; /* Ancho de la línea divisoria */
  height: 100%; /* Tamaño completo de la línea divisoria */
  background-color: #ccc; /* Color de la línea divisoria */
  margin-right: 10px; /* Espacio a la derecha de la línea divisoria */
}



//esto solo es el carrito de compras
.mat-icon.empty-cart-icon{
  font-size: 150px;
  line-height: 150px;
  height: 150px;
  width: 150px;
  vertical-align: middle;
}
