

<mat-card *ngIf="appService.Data.cartList.length == 0" fxLayout="column" fxLayoutAlign="center center" class="text-center py-5">
  <svg viewBox="0 0 24 24" class="mat-icon empty-cart-icon primary-color">
      <path d="M19 20C19 21.11 18.11 22 17 22C15.89 22 15 21.1 15 20C15 18.89 15.89 18 17 18C18.11 18 19 18.9 19 20M7 18C5.89 18 5 18.89 5 20C5 21.1 5.89 22 7 22C8.11 22 9 21.11 9 20S8.11 18 7 18M7.2 14.63L7.17 14.75C7.17 14.89 7.28 15 7.42 15H19V17H7C5.89 17 5 16.1 5 15C5 14.65 5.09 14.32 5.24 14.04L6.6 11.59L3 4H1V2H4.27L5.21 4H20C20.55 4 21 4.45 21 5C21 5.17 20.95 5.34 20.88 5.5L17.3 11.97C16.96 12.58 16.3 13 15.55 13H8.1L7.2 14.63M8.5 11H10V9H7.56L8.5 11M11 9V11H14V9H11M14 8V6H11V8H14M17.11 9H15V11H16L17.11 9M18.78 6H15V8H17.67L18.78 6M6.14 6L7.08 8H10V6H6.14Z" />
  </svg>
  <h1 class="mt-3">Tu carrito de compras esta vacio!</h1>
  <p class="text-muted">Antes de generar una venta Empleado agregue productos al carrito.</p>
  <a [routerLink]="['/productos']" mat-raised-button color="primary" class="mt-3">Regresar</a>
</mat-card>

<div class="mostrar" *ngIf="mostrarBox">

<section  *ngIf="appService.Data.cartList?.length > 0  && mostrarFormAdicional"    class="example-section">
  <label class="example-margin">Cuenta:</label>
  <mat-radio-group [(ngModel)]="noUsuario" (ngModelChange)="onNoUsuarioChange($event)">

    <mat-radio-button class="example-margin" value="after">Si</mat-radio-button>
    <mat-radio-button class="example-margin" value="before">No</mat-radio-button>
  </mat-radio-group>
</section>


<div *ngIf="noUsuario === 'before'  && appService.Data.cartList?.length > 0  && mostrarFormAdicional"    fxLayout="row" fxLayoutAlign="space-between center" class="p-1" >
  <div fxLayout="row">
      <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">

          <mat-button-toggle value="search">
              <mat-icon>search</mat-icon>
          </mat-button-toggle>
      </mat-button-toggle-group>
  </div>
  <form class="user-search" [class.show]="controls.value == 'search'">
      <mat-form-field class="user-search-input">
          <input matInput placeholder="Buscar por nombre..." [(ngModel)]="searchText" name="search">
      </mat-form-field>
  </form>
  <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-button-toggle-group #viewType="matButtonToggleGroup" appearance="legacy" value="grid">
          <mat-button-toggle value="grid"  [hidden]="true">
              <mat-icon>view_module</mat-icon>
          </mat-button-toggle>
          <!-- <mat-button-toggle value="list">
              <mat-icon>view_list</mat-icon>
          </mat-button-toggle> -->
      </mat-button-toggle-group>
  </div>
</div>

  <div *ngIf="noUsuario === 'before'   && appService.Data.cartList?.length > 0  && mostrarFormAdicional " fxLayout="row wrap">
      <div  *ngFor="let empleado of  empleados | BuscarNombreEmpleado:searchText | paginate: { itemsPerPage: 6, currentPage: page }" fxFlex="100"  fxFlex.gt-md="33.3" fxFlex.md="50" class="p-1">
          <mat-card class="p-0">
              <div class="bg-primary" fxLayout="row" fxLayoutAlign="space-between center">
                  <h3  class="user-name">  {{empleado.Nombre}} </h3>
                  <button mat-icon-button  (click)="SeleccionarEmpleado(empleado.Numero_Empleado,empleado.Nombre,empleado.Empresa,empleado.Nomina,empleado.id)">
                    <mat-icon>done</mat-icon>
                </button>
              </div>

            <!-- informacion del usuario -->
            <div class="user-content" fxLayout="row" fxLayoutAlign="start start">
              <div fxFlex="70" fxLayout="column" class="user-details transition-2">
                <p fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="text-muted">face</mat-icon>
                  <span> {{empleado.Numero_Empleado}} </span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="text-muted">account_circle</mat-icon>
                  <span> {{empleado.NombreCompleto}} </span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="text-muted">payment</mat-icon>
                  <span> {{empleado.Nomina}} </span>
                </p>
                <p fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon class="text-muted">room</mat-icon>
                  <span> {{empleado.Empresa}} </span>
                </p>

              </div>
          </div>




              </mat-card>
              </div>
      </div>

</div>

<section class="formAdicional" *ngIf="noUsuario === 'before' && appService.Data.cartList?.length > 0  && mostrarFormAdicional" >

    <div class="divider"></div>
    <label class="example-margin1">Formulario Adicional:</label>
    <mat-form-field>
      <input matInput placeholder="Numero de empleado" [formControl]="numUsu" readonly>
      <mat-error *ngIf="numUsu.hasError('required')">El número de usuario es requerido</mat-error>
      <mat-error *ngIf="numUsu.hasError('pattern')">Ingrese solo números</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Numero de usuario" [formControl]="NumeroEmpleadoEmpleado" readonly>
      <mat-error *ngIf="numUsu.hasError('required')">El número de empleado es requerido</mat-error>
      <mat-error *ngIf="numUsu.hasError('pattern')">Ingrese solo números</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input  matInput placeholder="Nombre" [formControl]="nombre" readonly>
      <mat-error *ngIf="nombre.hasError('required')">El nombre es requerido</mat-error>
      <mat-error *ngIf="nombre.hasError('pattern')">Ingrese solo letras y espacios</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Empresa" [formControl]="EmpresaCapturar" readonly>
      <mat-error *ngIf="nombre.hasError('required')">La Empresa es requerida</mat-error>
      <mat-error *ngIf="nombre.hasError('pattern')">Ingrese solo letras y espacios</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo de nomina " [formControl]="TipoNomina" readonly>
      <mat-error *ngIf="nombre.hasError('required')">La Empresa es requerida</mat-error>
      <mat-error *ngIf="nombre.hasError('pattern')">Ingrese solo letras y espacios</mat-error>
    </mat-form-field>
  </section>

<mat-stepper linear *ngIf="appService.Data.cartList?.length > 0"  #stepper>

  <!-- <mat-step  [stepControl]="ventaForm" [editable]="false" [completed]="true">
    <ng-template  matStepLabel>Datos de Venta</ng-template>
    <form [formGroup]="ventaForm">
      <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
        <mat-form-field>
          <mat-label>Usuario ID</mat-label>
          <input matInput id="RhUsuarioId" [value]="ventaForm.get('RhUsuarioId').value" type="text"
            formControlName="RhUsuarioId" required>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
        <mat-form-field>
          <mat-label>Fecha</mat-label>
          <input matInput id="Fecha" type="date" formControlName="Fecha" [value]="getCurrentDate()" required>
        </mat-form-field>
      </div>
      <div fxFlex="100" fxFlex.gt-sm="25" class="px-1">
        <mat-form-field>
          <mat-label>Total</mat-label>
          <input matInput id="Total" type="number" formControlName="Total" required [readonly]="true"
            [value]="grandTotal">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
        <button mat-mini-fab matStepperNext color="primary" matTooltip="Next"
            matTooltipPosition="after" [disabled]="Desabilitado" ><mat-icon>navigate_next</mat-icon></button>
      </div>
    </form>
  </mat-step> -->





  <mat-step [editable]="false"  [stepControl]="detallesForm "  >
    <ng-template  matStepLabel>Detalles de Venta     </ng-template>
    <div class="divider"></div>

    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted">Productos</h3>
        <div class="divider"></div>
        <div class="mat-table review-order-table">
          <div class="mat-header-row">
            <div class="mat-header-cell">Imagen</div>
            <div class="mat-header-cell">Codigo Diken</div>
            <div class="mat-header-cell">Producto</div>
            <div class="mat-header-cell">Precio</div>
            <div class="mat-header-cell">Cantidad</div>
            <div class="mat-header-cell">Total</div>
          </div>
          <div *ngFor="let product of appService.Data.cartList" class="mat-row">
            <div class="mat-cell"><img [src]="product.images[0].small"></div>
            <div class="mat-cell">{{product.CodigoDiken}}</div>
            <div class="mat-cell">{{product.name}}</div>
            <div class="mat-cell">${{product.newPrice | number : '1.2-2'}}</div>
            <div class="mat-cell text-muted">{{product.cartCount}}</div>
            <div class="mat-cell">${{(product.newPrice * product.cartCount) | number : '1.2-2'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="row wrap">
      <div fxFlex="100" class="p-1">
        <h3 class="text-muted mt-2">Información del empleado</h3>
        <div class="divider"></div>

        <div *ngIf="!abrirFormulario"  class="mat-cell"> Numero de Empleado:{{NumeroEmpleado}}</div>
        <div *ngIf="!abrirFormulario" class="mat-cell"> Nombre: {{Nombre}}</div>
        <div *ngIf="!abrirFormulario" class="mat-cell"> ID:{{UsuarioId}}</div>
        <div *ngIf="!abrirFormulario" class="divider"></div>

        <div *ngIf="!abrirFormulario" class="mat-cell"> Empresa: {{Empresa}}</div>
        <div *ngIf="!abrirFormulario" class="mat-cell"> Tipo de Nomina: {{IdNomina}}</div>


        <div class="info" *ngIf="abrirFormulario">
        <div class="mat-cell"> Numero de Usuario:{{this.numUsu.value}}</div>
        <div class="mat-cell"> Nombre: {{this.nombre.value}}</div>
        <div class="mat-cell"> Numero de Empleado : {{this.NumeroEmpleadoEmpleado.value}}</div>

        </div>




      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="p-1">
      <h2><span class="text-muted mr-1">Total:</span><span>${{grandTotal | number : '1.2-2'}}</span></h2>
    </div>
    <!-- Resto del contenido del paso -->
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <button mat-raised-button matStepperPrevious color="primary" matTooltip="Regresar" matTooltipPosition="before"
        class="mr-1" [disabled]="Desabilitado">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button *ngIf="!abrirFormulario" mat-raised-button matStepperNext color="primary" (click)="clickDosBotones()"  >Guardar</button>
      <button *ngIf="abrirFormulario" mat-raised-button matStepperNext color="primary" (click)="clickDosBotones()" [disabled]="numUsu.invalid || nombre.invalid " >Guardar</button>
    </div>
  </mat-step>







  <mat-step [completed]="false" >
    <ng-template  matStepLabel>confirmacion</ng-template>


    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 text-center">
      <button mat-fab color="primary"><mat-icon>check</mat-icon></button>
      <h2 class="py-2">Felicidades! La Venta Empleado {{numVenta}} se ha registrado de forma correcta</h2>
      <!-- <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus dolor ante, ut luctus mi faucibus a. Ut eu tincidunt neque. Proin porttitor id ligula id placerat. Integer nec nulla varius, dapibus libero quis, semper eros. Aliquam erat volutpat. Proin volutpat tellus vel purus interdum euismod.</p> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-2 p-1">
      <a [routerLink]="['/productos']" (click)="clear()" mat-raised-button color="primary">Inicio</a>
    </div>
  </mat-step>
</mat-stepper>



