
<form   autocomplete="off">
    <!-- <form autocomplete="off"> -->
    <div mat-dialog-content> 
<div class="p-1">
    <mat-card class="p-0"> 
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
            <h2>Tickets Asignados</h2>   
        </div>
          <mat-divider></mat-divider>
          <div fxLayout="row" fxLayoutAlign="space-between center" class="p-1">
            <div fxLayout="row">
                <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy" >            
                    <!-- <mat-button-toggle value="add" (click)="openTicketDialog(null)">
                        <mat-icon>person_add</mat-icon>
                    </mat-button-toggle> -->
                    <mat-button-toggle value="search">
                        <mat-icon>search</mat-icon>
                    </mat-button-toggle>           
                </mat-button-toggle-group>            
            </div>
            <form class="user-search" [class.show]="controls.value == 'search'">
                <mat-form-field class="user-search-input">
                    <input matInput placeholder="Buscar tiket..." [(ngModel)]="searchText" name="search">
                </mat-form-field>
            </form>
         
        </div>
         
        <mat-divider></mat-divider>
        <div class="mat-table admin-table">
            <div class="mat-header-row"> 
                <div class="mat-header-cell  mat-column-id" style="width: 5px;">Id</div>
                <div class="mat-header-cell  mat-column-8">Fecha</div>
                <!-- <div class="mat-header-cell">Categoría</div> -->
                <div class="mat-header-cell  mat-column-10">Sub Categoría</div>
                <!-- <div class="mat-header-cell">Prioridad</div>  -->
                <div class="mat-header-cell  mat-column-8">Estatus</div>
                <div class="mat-header-cell">Detalle</div>  
                <div class="mat-header-cell  mat-column-8">Solicitante</div>
                <!-- <div class="mat-header-cell">Respuesta</div> -->
                <div class="mat-header-cell  mat-column-8">Acciones</div>
            </div>
            <div *ngFor="let ticket of dataTiket | TiketSearchPipe : searchText | paginate: { itemsPerPage: count, currentPage: page }" class="mat-row"> 
                <div class="mat-cell mat-column-id"  style="width: 5px;"><small>{{ticket.TiketId}}</small></div> 
                <div class="mat-cell mat-column-8"><small>{{ticket.Fecha}}</small></div> 
                <!-- <div class="mat-cell">{{ticket.Categoria}}</div> -->
                <div class="mat-cell mat-column-10"><small>{{ticket.SubCategoria}}</small></div>
                <!-- <div class="mat-cell">{{ticket.Criticidad}}</div>  -->
                <div class="mat-cell mat-column-8"><small>{{ticket.Estatus}}</small></div> 
                <div class="mat-cell"><small>{{ticket.Detalle}}</small></div> 
                <div class="mat-cell mat-column-8"><small>{{ticket.Solicitante}}</small></div>     
                <!-- <div class="mat-cell">{{ticket.Respuesta}}</div> -->
                <div class="mat-cell mat-column-8">
                    <div class="p-1 actions">          
                        <button mat-mini-fab color="primary" matTooltip="Editar" (click)="openTicketDialog(ticket)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="ticket.EstatusTiketId==1" mat-mini-fab color="primary" matTooltip="Pausar ticket" (click)="PausarTiket(ticket)">
                            <mat-icon>pause_circle_filled</mat-icon>
                        </button>
                        <button *ngIf="ticket.EstatusTiketId==5" mat-mini-fab color="primary" matTooltip="Pausar ticket" (click)="PausarTiket(ticket)">
                            <mat-icon>pause_circle_filled</mat-icon>
                        </button>
                        <button *ngIf="ticket.EstatusTiketId==2" mat-mini-fab color="primary" matTooltip="Pausar ticket" (click)="PausarTiket(ticket)">
                            <mat-icon>pause_circle_filled</mat-icon>
                        </button>
                        <button *ngIf="showbtnproce(ticket.EstatusTiketId)" mat-mini-fab color="primary" matTooltip="Procesar" (click)="Procesartiket(ticket)">
                            <mat-icon>play_circle_filled</mat-icon>
                        </button>
                        

                        <button *ngIf="ticket.EstatusTiketId==2" mat-mini-fab color="primary" matTooltip="Finalizar" (click)="TerminarTiket(ticket)">
                            <mat-icon>check_circle</mat-icon>
                        </button>


                        <!-- <button mat-mini-fab color="warn" matTooltip="Delete" class="mx-1" (click)="remove(ticket)">
                            <mat-icon>delete</mat-icon>
                        </button> -->
                    </div>
                </div>      
            </div>
        </div>
    </mat-card>

    <div *ngIf="dataTiket.length > 0" fxLayout="row wrap">
        <div fxFlex="100"> 
            <mat-card class="p-0 text-center">           
                <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
            </mat-card>
        </div>
    </div>
</div>
</div>
<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
        <button mat-raised-button color="warn" type="button" mat-dialog-close>Cerrar</button>
        
    </div> 
</div>
</form>