<!-- Wrap the table with a container and apply Flexbox -->
<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>#Pedidos</th>
        <th>Total</th>
        <th>Fecha Consolidado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consolidado of consolidados">
        <td class="td-1">{{ consolidado.Empresa }}</td>
        <td class="td-1">Pendiente </td>
        <td class="td-1">{{ consolidado.TotalConsolidado }}</td>
        <td class="td-1">{{ consolidado.Fecha }}</td>
        <td class="td-1">
          <!-- Acciones -->
          <div class="acciones-container">
            <div class="boton1">
              <button mat-raised-button color="warn" (click)="descargarcsv(consolidado.IdConsolidadoVentaEmpleado)">Descargar</button>
            </div>
            <div class="boton2">
              <button (click)="abrirTabla(consolidado.IdConsolidadoVentaEmpleado)" mat-raised-button color="primary">Detalles</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- segunda tabla de detalles -->
<hr *ngIf="openTable">
<!-- <div *ngFor="let consolidado of consolidados"> -->
  <div class="consolidado_" *ngIf="openTable;">
<h2 class="titulo-consolidado">  Consolidado #{{IdSeleccionado}}
</h2>
<button (click)="cerrarTabla()" mat-raised-button color="secondary" > Ocultar Detalles</button>
</div>

<!-- </div> -->

<div   *ngIf="openTable"   class="table-container">
   <table class="table-2">
    <thead>
      <tr>
        <th>Código Diken</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Importe</th>
        <th>Empleado</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <!-- Replace 'data' with the array containing the new data for this table -->
      <tr *ngFor="let detalleVenta of detalleVentasArray">
        <td  class="td-2"> {{detalleVenta.codigoDiken}} </td>
        <td  class="td-2">{{detalleVenta.producto}} </td>
        <td  class="td-2">${{ detalleVenta.precio | number : '1.2-2'  }} </td>
        <td  class="td-2">{{detalleVenta.cantidad}} </td >
        <td  class="td-2">{{detalleVenta.importe | number : '1.2-2'}} </td>
        <td  class="td-2">{{detalleVenta.empleado}} </td>
        <td  class="td-2">{{detalleVenta.usuario}} </td>
      </tr>
    </tbody>
  </table>
</div>
