<!-- Wrap the table with a container and apply Flexbox -->
<!-- <div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>Empresa</th>
        <th>#Pedidos</th>
        <th>Total</th>
        <th>Fecha Consolidado</th>
        <th>Estatus</th>
        <th># Documento</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consolidado of consolidados">
        <td class="td-1">{{ consolidado.Empresa }}</td>
        <td class="td-1">Pendiente por trabajar </td>
        <td class="td-1">${{ consolidado.TotalConsolidado | number: '1.2-2'}}</td>
        <td class="td-1">{{ consolidado.Fecha  | date: 'dd/MM/yyyy' }}</td>
        <td class="td-1"><strong>{{ consolidado.NombreEstatus }}</strong></td>
        <td class="td-1">{{ consolidado.NumeroFactura }}</td>
        <td class="td-1">
          <! Acciones -->
          <!-- <div class="acciones-container">
            <div class="boton1">
              <button mat-raised-button color="warn" class="boton_tamaño" (click)="descargarcsv(consolidado.IdConsolidadoVentaEmpleado)">Descargar</button>
            </div>
            <div class="boton2">
              <button (click)="abrirTabla(consolidado.IdConsolidadoVentaEmpleado)" mat-raised-button color="primary">Cotejar</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>  -->

<!--todo implementar la busqueda -->
<!-- <div fxLayout="row">
  <mat-button-toggle-group #controls="matButtonToggleGroup" appearance="legacy">

      <mat-button-toggle  matTooltip="Click para buscar" value="search" >
          <mat-icon>search</mat-icon>
      </mat-button-toggle>
  </mat-button-toggle-group>
</div>

<form class="user-search" [class.show]="controls.value == 'search'">
  <mat-form-field class="user-search-input">
      <input matInput placeholder="Buscar por numero de consolidado o empresa" [(ngModel)]="searchText" name="search">
  </mat-form-field>
</form> -->
<div class="search-consolidado"  *ngIf="mostrarBusqueda">
<mat-form-field >
  <mat-label>Buscar por Empresa o número de pedido</mat-label>
  <input matInput [(ngModel)]="filtroTexto" placeholder="Empresa o número de pedido" />
</mat-form-field>
<button class="boton-buscar"  mat-raised-button color="primary" (click)="aplicarFiltro()">Filtrar</button>
</div>


<!-- segunda tabla de detalles -->
<hr *ngIf="openTable">
<!-- <div *ngFor="let consolidado of consolidados"> -->
  <div class="consolidado_" *ngIf="openTable;">
    <h2 class="titulo-consolidado">  Consolidado #{{IdSeleccionado}}
    </h2>
        <button (click)="cerrarTabla()" mat-raised-button color="primary" > Ocultar Detalles</button>
  </div>

  <div class="text_box_pedido" *ngIf="openTable">

    <form [formGroup]="numPedido" >
    <mat-form-field class=" custom-form-field  w-100 mt-1" >
      <input matInput placeholder="Numero de Factura" formControlName="Pedido" required>
      <mat-error class="custom-error" *ngIf="numPedido.get('Pedido').invalid && numPedido.get('Pedido').touched">
        Deben ser solo numeros y no mas de 4 digitos</mat-error>


      </mat-form-field>
    </form>


  </div>



<!-- </div> -->

<div   *ngIf="openTable"   class="table-container">
   <table class="table-2">
    <thead>
      <tr>
        <th>Código Diken</th>
        <th>Producto</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Importe</th>
        <th>Empleado</th>
        <th>Usuario</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
      <!-- Replace 'data' with the array containing the new data for this table -->
      <tr *ngFor="let detalleVenta of detalleVentasArray;let i = index">
        <td  class="td-2"> {{detalleVenta.codigoDiken}} </td>
        <td  class="td-2">{{detalleVenta.producto}} </td>
        <td  class="td-2">${{ detalleVenta.precio | number : '1.2-2'  }} </td>
        <td  class="td-2">{{detalleVenta.cantidad}} </td >
        <td  class="td-2">{{detalleVenta.importe | number : '1.2-2'}} </td>
        <td  class="td-2">{{detalleVenta.empleado}} </td>
        <td  class="td-2">{{detalleVenta.usuario}} </td>
        <td  class="td-2"> <button  mat-raised-button color="warn"     [disabled]="detalleVenta.eliminado ||  numPedido.get('Pedido').invalid"  (click)="eliminarDetalleVenta(i)">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
</div>
<!-- se colocara el boton de guardar el numero de captura -->

<div class="guardar" *ngIf="openTable"  >

  <button   mat-raised-button color="primary"  [disabled]=" numPedido.get('Pedido').invalid"  (click)="cancelarEstatusConsolidado(IdSeleccionado)">Guardar Factura</button>

</div>


<!-- ?mat-group -->

<mat-tab-group  *ngIf="!openTable" (selectedTabChange)="onTabChange($event)" >
  
  <mat-tab label="PENDIENTES">
    <!-- Contenido de la segunda pestaña -->

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>csvconsolidadonum</th>
            <th>Empresa</th>
            <th>#Pedidos</th>
            <th>Total</th>
            <th>Fecha Consolidado</th>
            <th>Estatus</th>
            <th># Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consolidado of consolidadosPendiente">
            <td class="td-1">{{ consolidado.IdConsolidadoVentaEmpleado }}</td>
            <td class="td-1">{{ consolidado.Empresa +" "+consolidado.IdTipoNomina}}</td>
            <td class="td-1"> {{consolidado.NumPedidos}} </td>
            <td class="td-1">${{ consolidado.TotalConsolidado | number: '1.2-2'}}</td>
            <td class="td-1">{{ consolidado.Fecha  | date: 'dd/MM/yyyy' }}</td>
            <td class="td-1"><strong>{{ consolidado.NombreEstatus }}</strong></td>
            <td class="td-1">{{ consolidado.NumeroFactura }}</td>
            <td class="td-1">
              <!-- Acciones -->
              <div class="acciones-container">
                <div class="boton1">
                  <button mat-raised-button color="primary" class="boton_tamaño" (click)="descargarcsv(consolidado.IdConsolidadoVentaEmpleado)">Generar OV</button>
                </div>
                <div class="boton2">
                  <!-- <button (click)="abrirTabla(consolidado.IdConsolidadoVentaEmpleado)" mat-raised-button color="primary">Cotejar</button> -->
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



  </mat-tab>
  <mat-tab label="EN PROCESO">
    <!-- Contenido de la primera pestaña -->

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>

            <th>csvconsolidadonum</th>
            <th>Empresa</th>
            <th>#Pedidos</th>
            <th>Total</th>
            <th>Fecha Consolidado</th>
            <th>Estatus</th>
            <th># Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consolidado of consolidadosProceso">

            <td class="td-1">{{ consolidado.IdConsolidadoVentaEmpleado }}</td>
            <td class="td-1">{{ consolidado.Empresa+" "+consolidado.IdTipoNomina }}</td>
            <td class="td-1"> {{consolidado.NumPedidos}} </td>
            <td class="td-1">${{ consolidado.TotalConsolidado | number: '1.2-2'}}</td>
            <td class="td-1">{{ consolidado.Fecha  | date: 'dd/MM/yyyy' }}</td>
            <td class="td-1"><strong>{{ consolidado.NombreEstatus }}</strong></td>
            <td class="td-1">{{ consolidado.NumeroFactura }}</td>
            <td class="td-1">
              <!-- Acciones -->
              <div class="acciones-container">
                <div class="boton1">
                  <!-- <button mat-raised-button color="warn" class="boton_tamaño" (click)="descargarcsv(consolidado.IdConsolidadoVentaEmpleado)">Descargar</button> -->
                </div>
                <div class="boton2">
                  <button (click)="abrirTabla(consolidado.IdConsolidadoVentaEmpleado,consolidado.NumeroFactura)" mat-raised-button color="primary">Cotejar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>



  </mat-tab>
 

  <mat-tab  label="FACTURADOS">

    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>csvconsolidadonum</th>
            <th>Empresa</th>
            <th>#Pedidos</th>
            <th>Total</th>
            <th>Fecha Consolidado</th>
            <th>Estatus</th>
            <th># Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consolidado of consolidadosCerrado">
            <td class="td-1">{{ consolidado.IdConsolidadoVentaEmpleado }}</td>
            <td class="td-1">{{ consolidado.Empresa+" "+consolidado.IdTipoNomina }}</td>
            <td class="td-1"> {{consolidado.NumPedidos}} </td>
            <td class="td-1">${{ consolidado.TotalConsolidado | number: '1.2-2'}}</td>
            <td class="td-1">{{ consolidado.Fecha  | date: 'dd/MM/yyyy' }}</td>
            <td class="td-1"><strong>{{ consolidado.NombreEstatus }}</strong></td>
            <td class="td-1">{{ consolidado.NumeroFactura }}</td>
            <td class="td-1">
              <!-- Acciones -->
              <div class="acciones-container">
                <div class="boton1">
                  <!-- <button mat-raised-button color="warn" class="boton_tamaño" (click)="descargarcsv(consolidado.IdConsolidadoVentaEmpleado)">Descargar</button> -->
                </div>
                <div class="boton2">
                  <!-- <button (click)="abrirTabla(consolidado.IdConsolidadoVentaEmpleado)" mat-raised-button color="primary">Cotejar</button> -->
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>








  </mat-tab>

  <mat-tab label="BUSCAR">


    <div *ngIf="!aviso"  class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th>csvconsolidadonum</th>
            <th>Empresa</th>
            <th>#Pedidos</th>
            <th>Total</th>
            <th>Fecha Consolidado</th>
            <th>Estatus</th>
            <th># Documento</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let consolidado of consolidadosFiltrados">
            <td class="td-1">{{ consolidado.IdConsolidadoVentaEmpleado }}</td>
            <td class="td-1">{{ consolidado.Empresa+" "+consolidado.IdTipoNomina }}</td>
            <td class="td-1"> {{consolidado.NumPedidos}} </td>
            <td class="td-1">${{ consolidado.TotalConsolidado | number: '1.2-2'}}</td>
            <td class="td-1">{{ consolidado.Fecha  | date: 'dd/MM/yyyy' }}</td>
            <td class="td-1"><strong>{{ consolidado.NombreEstatus }}</strong></td>
            <td class="td-1">{{ consolidado.NumeroFactura }}</td>
            <td class="td-1">
              <!-- Acciones -->
              <div class="acciones-container">
                <div class="boton1">
                  <button mat-raised-button color="warn" class="boton_tamaño" (click)="descargarcsv(consolidado.IdConsolidadoVentaEmpleado)">Descargar</button>
                </div>
                <div class="boton2">
                  <button (click)="abrirTabla(consolidado.IdConsolidadoVentaEmpleado)" mat-raised-button color="primary">Cotejar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


    <div *ngIf="aviso">

      <h3 style="color:red; text-align: center; margin-top: 10px; " >No se encontraron consolidados</h3>


    </div>






  </mat-tab>
</mat-tab-group>
