
<table class="table">
  <thead>
    <tr>
      <th>Empresa</th>
      <th>#Pedidos</th>
      <th>Total</th>
      <th>Fecha Consolidado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let consolidado of consolidados">
      <td> {{consolidado.Empresa}} </td>
      <td>{{consolidado.IdConsolidadoVentaEmpleado}} </td>
      <td>{{consolidado.TotalConsolidado}} </td>
      <td>{{consolidado.Fecha}} </td>
      <td>
        <!-- Acciones -->
        <div class="separar">
        <div class="boton1">
        <button mat-raised-button color="warn" >Eliminar</button>
        </div>
        <div class="boton2">
        <button (click)="openDialog1()" mat-raised-button color="primary" >Detalles</button>
        </div>
        </div>


      </td>
    </tr>
  </tbody>
</table>
