table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th, td {
  padding: 8px;
  // text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: left;
}



// empieza lo responsivo

.table-container {
  display: flex;
  margin-bottom: 45px;
}

.separar{
  display: flex;
}

.boton1, .boton2{
  margin-right: 2rem;
}

.titulo-consolidado{
  text-align: center;
  margin: 2rem;
}

.consolidado_{
  text-align: center;
  margin: 1.5rem;

}
.text_box_pedido{
  width: 200px;
  margin-bottom: 1.5rem;

}

.boton_tamaño{
  padding-right: 8.5px;
  padding-left: 5px;
}

.acciones-container{
  flex-direction: column;
}
.boton1, .boton2{
  margin-bottom: 0.5rem;
}

/* styles.css o styles.scss */
.custom-error {
  font-size: 16px; /* Ajusta el tamaño de fuente según tus preferencias */
  color: red;     /* Cambia el color según tus preferencias */

}

/* styles.css o styles.scss */
.custom-form-field {
  border: 2px solid #ccc; /* Define el estilo del borde según tus preferencias */
  border-radius: 5px;     /* Define el radio de borde según tus preferencias */
  padding: 10px;          /* Añade un espacio interno alrededor del campo */
}

//boton de buscar

.user-search{
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  .mat-form-field{
      width: 100% !important;
      text-align: center !important;
      height: 36px;
  }
  .mat-form-field-infix{
      padding: 5px;
  }
  .mat-input-element{
      text-align: center;
  }
  &.show{
      width: 100%;
      overflow: visible;
  }
}

.search-consolidado{
  text-align: center;
}
.boton-buscar{
  margin-left: 10px;
}

// se cambia el color de tabla
.table{
  color:black
}

@media screen and (max-width: 768px) {
//   .table-container {
//     display: flex;
//     flex-direction: column;
//     align-items: stretch;
//     overflow-y: auto;
//     max-height: 350px;

//   }

// /* Estilos para el contenido del diálogo */
// .mat-dialog-container {
//   padding: 0; /* Elimina el padding predeterminado para que el contenido ocupe todo el espacio */
// }

.acciones-container{
  flex-direction: column;
}
.boton1, .boton2{
  margin-bottom: 0.5rem;
}

// }
// .acciones-container {
//   display: flex;

// }



.table, thead, tbody, th, td, tr {
  display: block;
}

/* Hide table headers (but not display: none;, for accessibility) */
thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr {
  margin: 0 0 1rem 0;
}

tr:nth-child(odd) {
  background: #ccc;
}

.td-1 {
  /* Behave  like a "row" */
  border: none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
}

.td-2{
  border:none;
  border-bottom: 1px solid #eee;
  position: relative;
  padding-left: 50%;
}

.td-1:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 0;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  font-weight: bold;
}

.td-2:before {
  /* Now like a table header */
  position: absolute;
  /* Top/left values mimic padding */
  top: 0;
  left: 6px;
  width: 45%;
  padding-right: 10px;
  white-space: nowrap;
  font-weight: bold;
}

.td-1:nth-of-type(1):before { content: "Numero"; }
.td-1:nth-of-type(2):before { content: "Empresa"; }
.td-1:nth-of-type(3):before { content: "# Pedidos"; }
.td-1:nth-of-type(4):before { content: "Total"; }
.td-1:nth-of-type(5):before { content: "Fecha de Consolidado"; }
.td-1:nth-of-type(6):before { content: "Estatus"; }
.td-1:nth-of-type(7):before { content: "#Factura"; }
.td-1:nth-of-type(8):before { content: "Acciones"; }

.td-2:nth-of-type(1):before { content: "Codigo Diken"; }
.td-2:nth-of-type(2):before { content: "Producto"; }
.td-2:nth-of-type(3):before { content: "Precio"; }
.td-2:nth-of-type(4):before { content: "Cantidad"; }
.td-2:nth-of-type(5):before { content: "Importe"; }
.td-2:nth-of-type(6):before { content: "Empleado"; }
.td-2:nth-of-type(7):before { content: "Usuario"; }
.td-2:nth-of-type(7):before { content: "Acciones"; }





}








