<div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-1">        
        <mat-card class="gradient-green tile p-1"> 
            <mat-icon>monetization_on</mat-icon> 
            <h2>$856559743.46</h2>         
            <p>Ventas 2021</p>            
        </mat-card>
    </div>
    <!-- <div fxFlex="50" fxFlex.xl="16.6" fxFlex.lg="16.6" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-1">        
        <mat-card class="gradient-red tile p-1"> 
            <mat-icon>thumb_up_alt</mat-icon> 
            <h2>5300</h2>         
            <p>likes</p>            
        </mat-card>
    </div> -->
    <div fxFlex="50" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-1">
        <mat-card class="gradient-orange tile p-1">
            <mat-icon>group</mat-icon> 
            <h2>$908677626.97</h2>         
            <p>Ventas 2022</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-1">
        <mat-card class="gradient-pink tile p-1">
            <mat-icon>shopping_cart</mat-icon> 
            <h2>6.8%</h2>         
            <p>Diferencia en % vs AA</p> 
        </mat-card>
    </div>
    <div fxFlex="50" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-1">
        <mat-card class="gradient-gray tile">
            <mat-icon>pie_chart</mat-icon> 
            <h2>$2700</h2>         
            <p>tax</p> 
        </mat-card>
    </div>  
    <div fxFlex="50" fxFlex.xl="20" fxFlex.lg="20" fxFlex.md="33.3" fxFlex.sm="33.3" class="p-1">
        <mat-card class="gradient-brown tile">
            <mat-icon>save_alt</mat-icon> 
            <h2>12700</h2>         
            <p>downloads</p> 
        </mat-card>
    </div>      
</div>