

<div class="container">


<h4>Detalle De Empleado</h4>


<div class="card">


  <div class="card-body">

    <!-- <h4 class="text-center">Nombre</h4> -->

    <div class="row align-items-center">


      <div class="col-md-3">
        <img src="/assets/images/profile/michael.jpg" alt="Descripción de la imagen" class="rounded-circle" >
      </div>

      <div class="col align-items-start">
        Trabajo
        <div class="row">
          <div class="col">
            Area
          </div>
          <div class="col">
            puesto
          </div>
        </div>
      </div>
      <div class="col">
        Correo
        <div class="row">
          <div class="col">
            numero
          </div>
        </div>
        <div class="row">
          <div class="col">
            calendario
          </div>
        </div>

      </div>
      <div class="col">
        Estatus
        <div class="row">
          <div class="col">
            Empresa
          </div>
        </div>


      </div>


    </div>




  </div>


</div>


</div>
