

<div class="container mt-1">

  <h4>Detalle Del Empleado</h4>

  <div class="card">

    <div class="card-header">
      nombre
    </div>

    <div class="card-body">
  <div class="row align-items-center">
    <!-- Columna de la imagen -->
    <div class="col-md-3">
      <img src="/assets/images/profile/michael.jpg" alt="Descripción de la imagen" class="rounded-circle" >
    </div>

    <!-- Columnas de texto -->
    <div class="col-md-3">
      <h5><i class="fas fa-briefcase"></i> Columna 1</h5>
      <h5><i class="fa fa-building"></i>   Puesto</h5>

    </div>

    <div class="col-md-3">
      <h5> <i class="fa fa-envelope-open"></i> Correo</h5>
      <p>Contenido de la columna 2...</p>
    </div>

    <div class="col-md-3">
      <h5><i class="fa fa-map-pin"></i></h5>
      <h5>Estatus</h5>
    </div>
  </div>
  </div>
  </div>
</div>

<!-- Enlace a Bootstrap JS y Popper.js -->
