
<mat-sidenav-container>
    
    <!-- <mat-sidenav #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="filter-sidenav" perfectScrollbar>

        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel expanded>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h4>Categorías</h4>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="categories-wrapper categories-dropdown" perfectScrollbar>
                    <app-category-list [categories]="categories" [categoryParentId]="0" (change)="onChangeCategory($event)"></app-category-list>
                </div>
            </mat-expansion-panel>


        </mat-accordion>

    </mat-sidenav> -->
    <mat-sidenav-content class="all-products" ngClass.gt-sm="p-left">
        <app-banners *ngIf="banervisible" [banners]="banners"></app-banners>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="filter-row mat-elevation-z1 text-muted">
            <!-- <button *ngIf="!sidenavOpen" mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button> -->
            <!-- <div>
                <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
                    {{sort}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #sortMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="sortMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let sort of sortings" (click)="changeSorting(sort)">
                            <span>{{sort}}</span>
                        </button>
                    </span>
                </mat-menu>
            </div> -->
            <div>
                <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
                    Mostrar {{count}}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
                </a>
                <mat-menu #countsMenu="matMenu" xPosition="before" class="app-dropdown" overlapTrigger="true">
                    <span (mouseleave)="countsMenuTrigger.closeMenu()">
                        <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                            <span>{{count}}</span>
                        </button>
                    </span>
                </mat-menu>
                <button mat-icon-button (click)="changeViewType('list', 100)">
                    <mat-icon>view_list</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 33.3)">
                    <mat-icon>view_module</mat-icon>
                </button>
                <button mat-icon-button (click)="changeViewType('grid', 25)">
                    <mat-icon>view_comfy</mat-icon>
                </button>
                <!-- <button   (click)="getProductsEmpleado()">
                    <mat-icon>view_comfy</mat-icon>
                </button> -->

            </div>
        </div>

        <div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
            <div *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page }" fxFlex="100" [fxFlex.gt-sm]="viewCol" fxFlex.sm="50" class="col">
                <mat-card class="product-item text-center">
                    <mat-chip-list *ngIf="product.discount">
                        <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                    </mat-chip-list>
                    <a [routerLink]="['/productos', product.id, product.name]" class="image-link">
                        <img [src]="product.images[0].small" alt="">
                    </a>
                    <h5 *ngIf="product.SePuedeFraccionar" class="category text-muted">Se pide por pieza : {{product.SePuedeFraccionar?"Si":"NO"}} </h5>
                    <h5 *ngIf="product.SePuedeFraccionar" class="category text-muted">Piezas por paquete: {{product.CantidadFraccion}} </h5>
                    <h5 *ngIf="!product.SePuedeFraccionar" class="category text-muted" style="color: white;">  &nbsp;</h5>
                    <h5 *ngIf="!product.SePuedeFraccionar" class="category text-muted">  &nbsp; </h5>

                    <h5 *ngIf="product.availabilityCount <= 5" class="category text-muted">
                      <span style="color: red;">disponibilidad: {{product.availabilityCount}}</span>
                    </h5>

                    <h5  class="category text-muted">{{product.CodigoDiken}}</h5>
                    <!-- <h5 class="category text-muted">{{product.SePuedeFraccionar}}</h5> -->
                    <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>

                    <a [matTooltip]="product.NuloMovimiento === 1 ? 'NULO MOVIMIENTO || ' + product.name : product.name" [routerLink]="['/productos', product.id, product.name]" class="title text-truncate">
                      <span  [ngStyle]="{'color': product.NuloMovimiento === 1 ? 'red' : 'inherit'}">  {{product.name}} </span>
                    </a>


                    <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                        <div fxLayout="column" fxLayoutAlign="center start">
                            <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                            <p class="new-price" *ngIf="viewprice==true">${{product.newPrice | number : '1.2-2'}} <span class="text-muted ">más IVA</span>  </p>
                        </div>
                        <!-- <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating> -->
                    </div>
                    <div class="divider mt-2"></div>
                    <div class="icons">
                      <!-- con esto de abajo mandad el producto completo con el input o output a la clase app-controls -->
                        <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>

                    </div>

                </mat-card>
            </div>
        </div>

        <div *ngIf="viewType == 'list'" fxLayout="row wrap" class="products-wrapper">
            <div  *ngFor="let product of products | paginate: { itemsPerPage: count, currentPage: page }" fxFlex="100" class="col">
                <mat-card class="product-item">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="40" class="p-2">
                            <mat-chip-list *ngIf="product.discount" class="list-view">
                                <mat-chip color="warn" selected="true">{{product.discount}}% OFF</mat-chip>
                            </mat-chip-list>
                            <a [routerLink]="['/productos', product.id, product.name]" class="image-link">
                                <img [src]="product.images[0].small" alt="">
                            </a>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="60" class="p-2">
                            <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>
                            <a [routerLink]="['/productos', product.id, product.name]" class="title">
                                {{product.name}}
                            </a>
                            <p class="py-1 text-muted lh">{{product.description}}</p>
                            <div fxLayout="row" fxLayoutAlign="space-between center" class="prices">
                                <div fxLayout="column" fxLayoutAlign="center start">
                                    <p class="old-price text-muted"><span *ngIf="product.oldPrice">${{product.oldPrice | number : '1.2-2'}}</span></p>
                                    <p class="new-price"*ngIf="viewprice==true">${{product.newPrice | number : '1.2-2'}}</p>
                                </div>
                                <app-rating [ratingsCount]="product.ratingsCount" [ratingsValue]="product.ratingsValue" [direction]="'column'"></app-rating>
                            </div>
                            <div class="divider"></div>
                            <div class="icons">
                                <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls>

                            </div>

                        </div>
                    </div>
                </mat-card>
            </div>
        </div>

        <div *ngIf="products.length > 0" fxLayout="row wrap">
            <div fxFlex="100">
                <mat-card class="p-0 text-center">
                    <pagination-controls class="product-pagination"  previousLabel="Anterior"
                    nextLabel="Siguiente" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
                </mat-card>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>



