<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <form [formGroup]="pase" (ngSubmit)="onSubmit()">

          <div class="card">
            <div class="card-header card-header-azure">
              <h4 class="card-title">Pase Digital</h4>
              <!-- <p class="card-category">Mi Informacion</p> -->
            </div>
            <div class="card-body">
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>Empleado </label>
                      <input class="form-control" type="text" placeholder="{{NombreCompleto}}" disabled readonly>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>JEFE </label>
                      <input class="form-control" type="text" placeholder="{{nombreJefe}}" disabled readonly>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label>Fecha de ingreso </label>
                      <input class="form-control" type="text" placeholder="{{fecha_alta}}" disabled readonly>
                    </div>
                  </div>
                </div>
                <!-- </div> -->
                <div class="row">
                  <div class="col-md-6 my-2">
                    <button mat-raised-button color="primary" (click)="openDialog(1)">Generar Pase Digital</button>
                  </div>
                  <div class="col-md-6 my-2">
                    <button mat-raised-button color="primary" (click)="openDialog(2)">Generar Pase Colaborador</button>
                  </div>

                </div>





              </form>

            </div>
          </div>
        </form>


      </div>
    </div>
  </div>



  <div class="card mt-4">
    <div class="card-header card-header-azure">
      <h4 class="card-title">Listado pase Digital</h4>
    </div>
    <div class="card-body bg-light">
      <!-- Contenido del nuevo card -->
      <div class="table-responsive">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th scope="col">Numero de pase</th>
            <th scope="col">Nombre</th>
            <th scope="col">Jefe</th>
            <th scope="col">Periodo</th>
            <th scope="col">Autorizado</th>
            <th scope="col">Tipo</th>
            <th scope="col">Estatus</th>

            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody *ngFor="let pase of pases$ | async">
          <tr>
            <th scope="row"> {{pase.PaseDigitalId}} </th>
            <td> {{NombreCompleto}} </td>
            <td>{{nombreJefe}} </td>
            <td> {{pase.Fecha}} </td>
            <td>{{ pase.Autorizado === 1 ? 'Sí' : 'No' }} </td>
            <td> {{pase.tipo}} </td>
            <td> <strong> {{pase.estatus}} </strong> </td>


             <td><button (click)="eliminarPase(pase.PaseDigitalId)" mat-raised-button color="warn">Eliminar</button>

            </td>
          </tr>
          <!-- <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>octubre-noviembre</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>diciembre-feberero</td>
          </tr> -->
        </tbody>
      </table>
      </div>

    </div>
  </div>


  <div class="card mt-4">
    <div class="card-header card-header-azure">
      <h4 class="card-title">Listado pases digitales por autorizar</h4>
    </div>
    <div class="card-body bg-light">
      <!-- Contenido del nuevo card -->

      <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">Numero de pase</th>
            <th scope="col">Nombre</th>
            <th scope="col"> Numero Empleado</th>
            <th scope="col">Jefe</th>
            <th scope="col">Periodo</th>
            <th scope="col">Autorizado</th>
            <th scope="col">Tipo</th>
            <th scope="col">Hora</th>
            <th scope="col">Estatus</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>

        <!-- <tbody *ngFor="let pase of pases$ | async"> -->
        <tbody *ngFor="let pase of pasesJefe$ | async">
          <tr>
            <th scope="row">{{pase.PaseDigitalId}} </th>
            <td> {{pase.TuNombre}} </td>
            <td> {{pase.NumeroEmpleado}} </td>
            <td> {{pase.NombreDelJefe}} </td>
            <td> {{pase.Fecha}} </td>
            <td>{{ pase.Autorizado === 1 ? 'Sí' : 'No' }}</td>
            <td> {{pase.tipoDeEntrada}} </td>
            <td> {{ pase.Tipo === 2 ? pase.HoraEntrada : (pase.Tipo === 3 ? pase.HoraSalida : pase.HoraEntrada + ' - ' + pase.HoraSalida) }}</td>

            <td> <strong> {{pase.EstatusNombre}} </strong> </td>

            <td>
              <button (click)="autorizarPase(pase.PaseDigitalId,1)" mat-raised-button color="primary" [disabled]="pase.estatus ===2 ">Autorizar</button>
              <button class="mt-1" (click)="autorizarPase(pase.PaseDigitalId,2)" mat-raised-button color="warn" [disabled]="pase.estatus===2">No Autorizar</button>
            </td>
          </tr>


        </tbody>
      </table>
      </div>

    </div>
  </div>


</div>
