.auth{
  white-space: nowrap;
  padding: 7px 14px;
  font-weight: 500;
}


//lo que esta debajo de los inputs
.pie{
text-align: center;
margin-top: 1rem;
// padding-top: 1rem;

}

.parrafo_1{
margin-top:1.5rem;
}

.mat-error{
font-size: 16px;
}

.mat-label{
font-size: 20px;
}

//todo nuevo diseño

/* Estilos para el fondo y el cuadro de inicio de sesión */
.login-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94.5vh; /* O la altura deseada */
  background-color: #3386FF !important;

}

.login-container {
  width: 100%;
  max-width: 700px; /* Ajusta el ancho máximo según tu diseño */
  background-color: white; /* Fondo blanco */
  border-radius: 10px; /* Esquinas redondeadas */
  padding: 20px; /* Espacio interno */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  // width: 50%;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}
.first{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.left-image {
  // width: 100%; /* Ajusta el tamaño de la imagen según tu diseño */
  height: auto;
}

.left-text {
  margin-top: 10px;
  color:black
}
.logo {
  font-weight: bold;
  margin-top: 20px; /* Margen superior para el logo */
}
.rights {
  display: block;
}



//todo responsivo

@media screen and (max-width: 768px) {
  /* Aplicar estilos para pantallas más pequeñas, como dispositivos móviles */
  .login-card {
    flex-direction: column; /* Cambiar a una disposición de columna */
  }

  .right-content {
    // width: 100%; /* Ancho completo en pantallas pequeñas */
    // text-align: center; /* Centrar el contenido */
    display: none;
  }

  .footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    max-width: 100% !important;
    margin: 20px auto; /* Aumentar el margen vertical */

  }
  .login-container{
    display: flex;
    flex-direction: column !important;
  }
  .rights{
    width: 100%  !important;
  }

  .first{
    width: 300px !important;
  }


}

