
<mat-card class="login-card">
    <div fxLayout="row " fxLayoutAlign="center center" class="login-container">
        <div fxFlex="100" fxFlex.gt-sm="50" class="p-2">
            <h2 class="text-muted text-center">Inicio de Sesión</h2>
            <form [formGroup]="loginForm" >
                <mat-form-field appearance="outline" class="w-100 mt-2">
                    <mat-label>Usuario</mat-label>
                    <input matInput placeholder="Email" formControlName="email" required>
                    <mat-error *ngIf="loginForm.controls.email.errors?.required">El Usuario es requerido</mat-error>
                    <!-- <mat-error *ngIf="loginForm.controls.email.hasError('invalidEmail')">Email invalido</mat-error> -->
                </mat-form-field>
                <mat-form-field appearance="outline" class="w-100 mt-1">
                    <mat-label>Contraseña</mat-label>
                    <input matInput placeholder="Password" formControlName="password" required type="password">
                    <mat-error *ngIf="loginForm.controls.password.errors?.required">La contraseña es requerida</mat-error>
                    <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">el minimo de caracteres debe ser 4, intenta de nuevo</mat-error>
                </mat-form-field>
                <div class="text-center mt-2">
                    <button mat-fab color="primary" class="mat-elevation-z6" (click)="onLoginFormSubmit(loginForm.value)">
                        <mat-icon>exit_to_app</mat-icon>
                    </button>
                    <mat-error  *ngIf="errorlogin">El Usuario o contraseña no coinciden</mat-error>
                </div>
            </form>
            <div class="text-center mt-2">
              <button (click)="recuperarPass()" mat-button color="primary"> Recuperar Contraseña</button>
            </div>
          </div>

          <div fxFlex="50" class="first">

          <div fxFlex="50" class="right-content">
            <img src="../../../assets/images/flags/LOGO_DIKEN_2022.jpg" alt="Imagen" class="left-image">
            <p class="left-text">Bienvenido a nuestra plataforma</p>
            <p class="left-text"> Venta Empleados</p>

          </div>


          <div fxFlex="50" class="footer">
            <span class="logo">D<span class="logo-r">i</span>ken</span>
              <span class="rights">&copy; Todos los derechos reservados</span>
          </div>

        </div>

        </div>

</mat-card>













<!-- <div class="pie">


  <img src="../../../assets/images/flags/LOGO_DIKEN_2022.jpg" alt="imagenDeDiken">

  <h3 class="parrafo_1"> Para Venta Empelados </h3>




</div> -->

