.auth{
    white-space: nowrap;
    padding: 7px 14px;
    font-weight: 500;
}


//lo que esta debajo de los inputs
.pie{
  text-align: center;
  margin-top: 1rem;
  // padding-top: 1rem;

}

.parrafo_1{
  margin-top:1.5rem;
}

.mat-error{
  font-size: 16px;
}

.mat-label{
  font-size: 20px;
}


