<button mat-icon-button [matMenuTriggerFor]="messagesMenu" (click)="openMessagesMenu()" #messagesMenuTrigger="matMenuTrigger">
    <mat-icon>notifications</mat-icon>
    <mat-badge *ngIf="cantidadMensajesNoLeidos"  [matBadge]=cantidadMensajesNoLeidos matBadgeColor="warn"></mat-badge>

</button>
<mat-menu  #messagesMenu="matMenu" [overlapTrigger]="false" class="toolbar-dropdown-menu messages">
    <span (mouseleave)="messagesMenuTrigger.closeMenu()">
        <mat-tab-group  backgroundColor="primary" (click)="stopClickPropagate($event)" [selectedIndex]="selectedTab">
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <mat-icon>message</mat-icon> -->
                    Todos
                </ng-template>
                <mat-card class="content" perfectScrollbar>
                  <div fxLayout="column" fxLayoutAlign="none">
                      <button *ngFor="let message of messages" routerLink="/rhnet/MENSAJES" mat-button >
                          <!-- <img src="{{ ( message.image || (message.name | profilePicture)) }}" width="50"> -->
                          <div fxLayout="column" fxLayoutAlign="none" class="w-100">
                              <div fxLayout="row" fxLayoutAlign="space-between start">
                                  <span class="name">{{message.tipo}}</span>

                                  <!-- <span class="info"><mat-icon>access_time</mat-icon> {{message.fecha}}</span> -->
                              </div>
                              <span class="text text-muted">{{message.mensaje}}</span>
                          </div>

                      </button>

                    </div>
                </mat-card>
            </mat-tab>
            <mat-tab>
              <ng-template mat-tab-label>
                  <!-- <mat-icon>event</mat-icon> -->
                      Leidos
              </ng-template>
              <mat-card   class="content" perfectScrollbar>
                <div fxLayout="column" fxLayoutAlign="none">
                    <button *ngFor="let message of mensajesLeidos" mat-button routerLink="/rhnet/MENSAJES">
                        <!-- <div fxLayout="column" fxLayoutAlign="center center" class="row-1"> -->
                            <!-- <span class="name">{{message.tipo}}</span> -->
                            <!-- <span class="name">{{meeting.month}}</span> -->
                        <!-- </div> -->
                        <div fxLayout="column" fxLayoutAlign="none">
                            <span class="name">{{message.tipo}}</span>
                            <span class="text text-muted">{{message.mensaje}}</span>
                        </div>
                    </button>
                  </div>
              </mat-card>
          </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <!-- <mat-icon>event</mat-icon> -->
                        No Leidos
                </ng-template>
                <mat-card   class="content" perfectScrollbar>
                  <div fxLayout="column" fxLayoutAlign="none">
                      <button *ngFor="let message of mensajesNoLeidos2" mat-button routerLink="/rhnet/MENSAJES">
                          <!-- <div fxLayout="column" fxLayoutAlign="center center" class="row-1"> -->
                              <!-- <span class="name">{{message.tipo}}</span> -->
                              <!-- <span class="name">{{meeting.month}}</span> -->
                          <!-- </div> -->
                          <div fxLayout="column" fxLayoutAlign="none">
                              <span class="name">{{message.tipo}}</span>
                              <span class="text text-muted">{{message.mensaje}}</span>
                          </div>
                      </button>
                    </div>
                </mat-card>
            </mat-tab>
        </mat-tab-group>

    </span>
</mat-menu>
