
<div class="container-fluid">


  <div class="card">

    <div class="card-header card-header-azure">
      <h4 class="card-title">Lista de solicitudes de Vacaciones</h4>


      <div class="row ">

        <div class=" col-md-1 col-6">

          <button class="btn btn-primary btn-sm"> PDF </button>

        </div>
        <div class=" col-md-1 col-6 " >

          <button class="btn btn-success btn-sm"> EXCEL </button>

        </div>

      </div>
    </div>



    <div class="card-body">

      <div class="table-responsive">

        <table class="table table-striped">


          <thead>
            <tr>
              <th scope="col">#Empleado</th>
              <th scope="col">Nombre</th>
              <th scope="col">Jefe</th>
              <th scope="col">Periodo</th>
              <th scope="col">Dias Solicitados</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Estatus</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>jaime</td>
              <td>jose</td>
              <td>2023</td>
              <td>3</td>
              <td>17/22/2</td>
              <td>20/22/3</td>
              <td>Abierto</td>
              <td>


                <button class="btn btn-primary btn-sm mx-1">Aceptar</button>
                <button class="btn btn-danger btn-sm">Denegar</button>

              </td>
              </tr>
              </tbody>




            </table>

      </div>


    </div>







  </div>




</div>
