
<div class="container-fluid">


  <div class="card">

    <div class="card-header card-header-azure">
      <h4 class="card-title">Lista de solicitudes de Vacaciones</h4>


      <div class="row ">

        <div class=" col-md-1 col-6">

          <button class="btn btn-primary btn-sm" (click)="exportarAPDF()" > PDF </button>

        </div>
        <div class=" col-md-1 col-6 " >

          <button class="btn btn-success btn-sm" (click)="exportarAExcel()"> EXCEL </button>

        </div>

      </div>
    </div>



    <div class="card-body">

      <div class="table-responsive">

        <table #tabla class="table table-striped">


          <thead>
            <tr>
              <th scope="col">#Empleado</th>
              <th scope="col">Nombre</th>
              <th scope="col">Jefe</th>
              <th scope="col">Periodo</th>
              <th scope="col">Dias Solicitados</th>
              <th scope="col">Fecha Inicio</th>
              <th scope="col">Fecha Fin</th>
              <th scope="col">Estatus</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let soli of solicitudesRH">
              <th scope="row">{{soli.Numero_empleado}} </th>
              <td> {{soli.TuNombre}} </td>
              <td>{{soli.NombreDelJefe}} </td>
              <td> {{soli.Periodo}} </td>
              <td>{{soli.DiasSolicitados}} </td>
              <td>{{soli.Fecha_inicio | date:'dd/MM/yyyy'}} </td>
              <td> {{soli.FechaFin | date:'dd/MM/yyyy'}} </td>
              <td>{{soli.Estatus}} </td>
              <td>


                <!-- <button class="btn btn-primary btn-sm mx-1">Aceptar</button>
                <button class="btn btn-danger btn-sm">Denegar</button> -->


                <div class="btn-group">
                  <button type="button" class="btn btn-primary btn-sm">Aceptar</button>
                  <button type="button" class="btn btn-danger btn-sm">Rechazar</button>
                </div>

              </td>
              </tr>
              </tbody>




            </table>

      </div>


    </div>







  </div>




</div>
