
<div class="container-fliud">
  <form [formGroup]="FechaIF">
  <div class="card">
    <div class="card-header card-header-azure">

      <div class="row ">
        <div class="col-auto">
      <h4 class="card-title">Mis Registros del Reloj Checador</h4>
      </div>
      <!-- <div class="col-auto">

        <button class="btn btn-primary btn-sm " (click)="obtenerChecadaDeHoy()">Hoy</button>
      </div> -->

      <div class="mb-3 col-auto">
        <label for="exampleFormControlInput1" class="form-label">Fecha inicio</label>
        <input type="date" class="form-control" id="fecha1" formControlName="fechaInicio"  >
      </div>
      <div class="mb-3 col-auto">
        <label for="exampleFormControlTextarea1" class="form-label">Fecha fin</label>
        <input type="date" class="form-control" id="fecha2" formControlName="fechaFin"  >
      </div>

      <div class=" mb-3 col-auto mt-3  align-self-center ">
        <!-- <hr> -->
        <button type="button" class="btn btn-primary btn-sm" (click)="busquedaPorRangos(FechaIF.value)">Busqueda por rango</button>
      </div>





      </div>
      <!-- <div class="row g-3 align-items-center">

        <div class="col-auto">
          <label for="exampleFormControlInput1" class="col-form-label">Busqueda por dia</label>
        </div>


        <div class="col-auto">
          <input type="date" class="form-control"  [(ngModel)]="filtroTexto" id="exampleFormControlInput1" placeholder="06/11/2023">
          <input type="date" class="form-control" formControlName="filtroFecha" [value]="fechaFormato">

        </div>

        <div class="col-auto">
          <button class="btn btn-primary btn-sm"  (click)="buscarPorFecha2()" >Buscar Por Dia</button>
        </div>
        <div class="col-auto">
          <button class="btn btn-primary btn-sm " (click)="obtenerChecadaDeHoy()">Hoy</button>
        </div>



      </div> -->


    </div>

    <div class="card-body">

      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"># Empleado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dia</th>
            <th scope="col">Entrada</th>
            <th scope="col">Salida</th>
            <th scope="col">Minutos retardo</th>
            <th scope="col">Estatus</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ch of asistenciasRango ">
            <td scope="row" > {{ch.NUMERO_EMPLEADO}}</td>
            <td>{{ch.TuNombre}} </td>
            <td>{{ ch.Fecha | date:'d/MM/y' }}</td>
            <td>{{ch.FechaEntrada | date:'h:mm a'}} </td>
            <td>{{ch.FechaSalida | date:'h:mm a'}} </td>
            <td> {{ch.MinutosTarde}} </td>
            <td> {{ch.EstatusAsitencia}} </td>

          </tr>
        </tbody>
      </table>
      </div>

    </div>

  </div>
  </form>


  <hr>

  <div class="card">

    <div class="card-header card-header-azure">

      <h4 class="card-title"> Incidencias Colaboradores   (incompleto) </h4>

      <form [formGroup]='FechaColaborador'>
      <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"># Empleado</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dia</th>
            <th scope="col">Entrada</th>
            <th scope="col">Salida</th>
            <th scope="col">Minutos retardo</th>
            <th scope="col">Estatus</th>
            <th scope="col">Opciones</th>

          </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let colaborador of AsistenciaColaborador">
            <td scope="row"> {{colaborador?.NUMERO_EMPLEADO}} </td>
            <td>{{colaborador.TuNombre}} </td>
              <td>{{colaborador.Fecha | date:'d/MM/y'}} </td>
              <td> {{colaborador.FechaEntrada}} </td>
              <td> {{colaborador.FechaSalida}} </td>
              <td> {{colaborador.MinutosTarde}} </td>
              <td> {{colaborador.EstatusAsitencia}} </td>
            <td>

              <div class="btn-group">

                <button type="button" class="btn btn-success btn-sm" (click)="openDialog(colaborador.NUMERO_EMPLEADO,colaborador.TuNombre,colaborador.FechaEntrada,colaborador.FechaSalida,colaborador.EstatusAsitencia,colaborador.id)" >Justificar</button>
                <button type="button" class="btn btn-danger btn-sm" (click)="openDialog2('100ms', '100ms')">No justificar</button>

              </div>

            </td>


          </tr>
        </tbody>
      </table>
      </div>
    </form>
      </div>

  </div>

</div>
