
<div class="container">


  <div class="row">

    <div class="col">

      <h5 class="text-center"><i class="fas fa-user-graduate"></i> Becarios por dar de alta</h5>


    </div>

    <blockquote class="blockquote">
      <p>Esta es la lista de becarios que fueron aceptados</p>
    </blockquote>


  </div>





<div class="table-container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Solicitado por</th>
      <th scope="col">Fecha</th>
      <th scope="col">Area</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let area of aceptados">
      <th scope="row"> {{area.nombre_empleado}} </th>
      <td>{{area.Fecha | date:'dd/MM/yyyy'}} </td>
      <td> {{area.Area}}</td>
      <td>

        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-primary" (click)="irSolicitud(area.id)" >Ver Solicitud</button>
          <button type="button" class="btn btn-success" (click)="irAlta(area.id,area.nombre_empleado,area.usuario)" >Dar Alta</button>
        </div>


      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
