
<div class="h3">Evaluaciones</div>




<div class="list-group">
  <button type="button" (click)="irEvaluar()" class="list-group-item list-group-item-action">1. Evaluacion
    &nbsp;
    <span class="fecha"> {{Misbecarios?.eval_fecha1 | date:'dd/MM/yyyy'}} </span>
  </button>

 <button type="button" class="list-group-item list-group-item-action">2. Evaluacion
  &nbsp;
    <span class="fecha"> {{Misbecarios?.eval_fecha2| date:'dd/MM/yyyy'}} </span>
 </button>
 <button type="button" class="list-group-item list-group-item-action">3. Evaluacion
  &nbsp;
    <span class="fecha"> {{Misbecarios?.eval_fecha3| date:'dd/MM/yyyy'}} </span>
 </button>
 <button type="button" class="list-group-item list-group-item-action">4. Evaluacion
  &nbsp;
    <span class="fecha">  {{Misbecarios?.eval_fecha4| date:'dd/MM/yyyy'}} </span> </button>
 <button type="button" class="list-group-item list-group-item-action" disabled>5 Evaluacion
  &nbsp;
    <span class="fecha">  {{Misbecarios?.eval_fecha5| date:'dd/MM/yyyy'}} </span>
 </button>
</div>











