.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}

/* styles.css o styles.scss */
.green-snackbar {
  background-color: green;
  color: white;
}


@media screen and (max-width: 600px) {
  .mat-form-field {
    width: 50%; /* Ajustar el ancho de los campos de entrada */
  }
}


