.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}

/* styles.css o styles.scss */
.green-snackbar {
  background-color: green;
  color: white;
}


.user-img{
  position: relative;
  img{
      border-radius: 50%;
      width: 80px;
      height: 80px;
      &.blocked{
          opacity: 0.5;
      }
  }
  .mat-icon{
      position: absolute;
      top: -8px;
      left: -8px;
      font-size: 96px;
      height: 96px;
      width: 96px;
  }
}

@media screen and (max-width: 600px) {
  .mat-form-field {
    width: 50%; /* Ajustar el ancho de los campos de entrada */
  }
}


