<h1 mat-dialog-title><span >Editar</span><span ></span> usuario</h1>
<div mat-dialog-content>
    <form [formGroup]="form" class="user-form">
      <div class="tab-container">

        <mat-tab-group class="vertical-tabs">

            <mat-tab label="Datos Personales" formGroupName="usuario" class="mat-tab" >
                <div fxLayout="column" class="form-field-outer">
                  <mat-form-field class="w-100">
                       <input style="font-weight: bold;"matInput placeholder="Numero de Empleado" readonly>
                       <span style="font-weight: bold;">{{ num_Usuario }}</span>
                    </mat-form-field>
                    <mat-form-field class="w-100">
                        <input matInput placeholder="Nombre" [value]="nombre" formControlName="p_Nombre">
                        <!-- <mat-error *ngIf="form.controls.p_Nombre.errors?.required">El primer nombre es requrido</mat-error> -->
                        <mat-error *ngIf="form.get('usuario.p_Nombre').invalid && form.get('usuario.p_Nombre').touched">
                          El primer nombre debe tener minimo 4 caracteres
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field class="w-100">
                          <input matInput placeholder="Apellidos" [value]="apellidos" formControlName="p_Apellidos">
                          <mat-error *ngIf="form.get('usuario.p_Apellidos').invalid && form.get('usuario.p_Apellidos').touched">
                            El Apellido debe tener minimo 10 caracteres.
                          </mat-error>
                      </mat-form-field>

                    <mat-form-field class="w-100">
                        <input matInput [value]="telefono" placeholder="Telefono" formControlName="p_Telefono">

                        <mat-error *ngIf="form.get('usuario.p_Telefono').invalid && form.get('usuario.p_Telefono').touched">
                          El telefono debe tener maximo 10 numeros. y empeza con 844
                        </mat-error>

                    </mat-form-field>

                      <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
                        <button (click)="modificarUsuario()" mat-raised-button color="primary"  [mat-dialog-close]="form.value" [disabled]=" form.get('usuario.p_Nombre').invalid || form.get('usuario.p_Apellidos').invalid || form.get('usuario.p_Telefono').invalid">

                        <span>Actualizar Datos</span> </button>
                       </div>

                  </div>
              </mat-tab>



            <mat-tab label="Cambiar Contraseña" formGroupName="contrasenia" class="mat-tab">

              <div fxLayout="column" class="form-field-outer">
                <mat-form-field class="w-100">
              <input matInput  placeholder="Id de Usuario" type="text" formControlName="p_UsuarioId" readonly>
              <!-- <mat-error *ngIf="form.get('contrasenia.p_Password').invalid && form.get('contrasenia.p_Password').touched">
              La contraseña debe tener minimo 5 caracteres
              </mat-error> -->
            </mat-form-field>
                <mat-form-field class="w-100">
              <input matInput  placeholder="Nueva Contraseña" requered type="password" formControlName="p_Password" requered  >
              <mat-error *ngIf="form.get('contrasenia.p_Password').invalid && form.get('contrasenia.p_Password').touched">
                La contraseña debe tener minimo 5 caracteres
                </mat-error>
            </mat-form-field>
                <mat-form-field class="w-100">
                  <input matInput  placeholder="Confirmar Contraseña" required type="password" formControlName="p_PassRepeat" requered  >
                  <mat-error *ngIf="form.get('contrasenia.p_PassRepeat').invalid && form.get('contrasenia.p_PassRepeat').touched">
                    La contraseña debe tener minimo 5 caracteres
                    </mat-error>
                </mat-form-field>
            <div>


              <div>
            <button mat-raised-button color="primary" (click)="cambiarPass()" [mat-dialog-close]="form.value" [disabled]=" form.get('contrasenia.p_Password').invalid  || form.get('contrasenia.p_PassRepeat').invalid"    >Cambiar Contraseña </button>
            </div>
            </div>
          </div>

        </mat-tab>

        <mat-tab label="Cambiar Foto de Perfil" formGroupName="contrasenia">
          <div class="tab-content">
            <div class="user-img">
              <!-- <img *ngIf="user.imagen" [src]="usuario.imagen" class="transition-2"> -->
              <!-- <img  src={{this.nombreImagen}} class="transition-2"> -->

              <img *ngIf="this.imagen === '' || this.imagen === null || this.imagen === undefined" src="https://dikeninternational.com/rhnet/uploads/default.png" class="transition-2">
              <img *ngIf="this.imagen" [src]="this.imagen" class="transition-2">

            </div>

            <div class="text-center">
              <p class="parrafo">Seleccionar una imagen (opcional)</p>
              <input class="imagen" placeholder="Seleccionar Imagen" type="file"  (change)="onFileSelected($event)">
              <hr>
              <button mat-raised-button color="primary" type="file" (click)="onSubmit() " [mat-dialog-close]="form.value">Cargar Imagen</button>
            </div>
          </div>

        </mat-tab>




        <mat-tab label="tipo de perfil" formGroupName="tipoUsuario">

          <mat-form-field class="w-100">
            <input matInput placeholder="Usuario" formControlName="UsuarioId" readonly >
          </mat-form-field>


          <div formArrayName="PerfilId">
            <div *ngFor="let tipo of tipoPerfil; let i = index;" class="w-100">
              <mat-checkbox color="primary"  [value]="tipo.PerfilId" (change)="toggleSeleccion(tipo.PerfilId)" [checked]="valoresSeleccionados.includes(tipo.PerfilId)" >
                {{ tipo.Perfil }}
              </mat-checkbox>
            </div>
          </div>


          <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
            <button (click)="cambiarPerfil()" mat-raised-button color="primary" class="boton_Perfil"  >

            <span>Cambiar Perfil</span> </button>
           </div>


        </mat-tab>

      </mat-tab-group>

    </div>

  </form>




    <!-- todo Aqui hare lo nuevo de cambiar contrasenia  -->

</div>

<div mat-dialog-actions>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <!-- <button (click)="modificarUsuario()" mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]=" !form.get('usuario.p_Nombre').value || !form.get('usuario.p_Apellidos').value || !form.get('usuario.p_Telefono').value">

        <span>Actualizar Datos</span> </button> -->
        <button mat-raised-button color="warn" (click)="close()">Salir</button>

    </div>
</div>
