<div fxLayout="row wrap" class="p-1">
    <div fxFlex="100" fxFlex.gt-md="35">
        <mat-card class="product-image">

            <button mat-icon-button (click)="openZoomViewer()" fxHide="false" fxHide.gt-md><mat-icon>fullscreen</mat-icon></button>
            <img *ngIf="image" [src]="image" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave($event)"/>
        </mat-card>
        <div class="small-carousel">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div *ngFor="let image of product?.images" class="swiper-slide">
                        <mat-card (click)="selectImage(image)" class="p-1">
                            <img [attr.data-src]="image.small" class="swiper-lazy"/>
                            <div class="swiper-lazy-preloader"></div>
                        </mat-card>
                    </div>
                </div>
                <button mat-icon-button class="swiper-button-prev swipe-arrow"><mat-icon>keyboard_arrow_left</mat-icon></button>
                <button mat-icon-button class="swiper-button-next swipe-arrow"><mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
        </div>
    </div>
    <div fxFlex="100" fxFlex.gt-md="65" ngClass.gt-sm="px-3 m-0" ngClass.sm="mt-2" ngClass.xs="mt-2">

        <div #zoomViewer fxShow="false" fxShow.gt-md>
            <mat-card *ngIf="zoomImage" class="zoom-viewer mat-elevation-z18" [ngStyle]="{'background-image': 'url(' + zoomImage + ')'}"></mat-card>
        </div>

        <h2>{{product?.name}}</h2>
        <div class="py-1 lh">
            <p><span class="text-muted fw-500">Clase: </span><span>{{  product?.Clase  }}</span></p>
            <p><span class="text-muted fw-500">Familia: </span><span>{{  product?.Familia  }}</span></p>
            <p><span class="text-muted fw-500">SubFamilia: </span><span>{{  product?.SubFamilia  }}</span></p>
            <p><span class="text-muted fw-500">Disponible: </span><span>{{ (product?.availibilityCount > 0) ? 'en stock':'no hay disponibe'}}</span></p>
        </div>
        <div class="py-1">
            <!-- <app-rating [ratingsCount]="product?.ratingsCount" [ratingsValue]="product?.ratingsValue" [direction]="'row'"></app-rating> -->
        </div>


        <div class="divider mt-1"></div>
        <div class="py-2">
            <h3 class="old-price text-muted"><span *ngIf="product?.oldPrice">${{product?.oldPrice | number : '1.2-2'}}</span></h3>
            <h2 class="new-price">${{product?.newPrice}}</h2>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" class="details text-muted py-1">
            <div *ngIf="product?.color" class="color">
                <span class="fw-500">Select Color:</span>
                <button mat-raised-button *ngFor="let color of product?.color" [style.background]="color">&nbsp;</button>
            </div>
            <div *ngIf="product?.size" class="size" ngClass.xs="mt-1">
                <span class="fw-500">Select Size:</span>
                <button mat-raised-button *ngFor="let size of product?.size">{{size}}</button>
            </div>
        </div>






    </div>
</div>

<div fxLayout="row wrap" class="p-1 mt-2">
    <div fxFlex="100">
        <mat-card>
            <mat-tab-group [@.disabled]="true" [selectedIndex]="0">
                <mat-tab label="Productos relacionados">

                   <app-cproductlist [products]="products" [ProductoPadreId]="ProductoId" [EsRelacionado]="1"></app-cproductlist>

                </mat-tab>
                <mat-tab label="Productos sustitutos">

                    <app-cproductlist [products]="productsSustitutos" [ProductoPadreId]="ProductoId" [EsRelacionado]="0"></app-cproductlist>


                </mat-tab>

            </mat-tab-group>
        </mat-card>
    </div>
</div>
