<button mat-button mat-mini-fab color="primary" printSectionId="print-section"
     ngxPrint #print [useExistingCss]="true" styleSheetFile="theme/styles/_admin.scss">
     <mat-icon>cloud_download</mat-icon>
 </button>
 <div fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center">
              <mat-card-subtitle><h3>Filtros</h3></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>

      <div fxLayout="row wrap">

          <div fxFlex="100" fxFlex.gt-sm="40" class="p-1">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Fechas</mat-label>
                <mat-date-range-input
                  [formGroup]="campaignOne"
                  [rangePicker]="campaignOnePicker"
                 >
                  <input matStartDate placeholder="Fecha Inicio" formControlName="start">
                  <input matEndDate placeholder="Fecha Fin" formControlName="end">
                </mat-date-range-input>
                <mat-hint>DD/MM/YYYY – DD/MM/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
                <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
              </mat-form-field>

              <button mat-button mat-mini-fab color="primary"  (click)="Filtrar()"
              >
              <mat-icon>search</mat-icon>
          </button>

     </div></div>

                  <!-- </mat-form-field> -->


            </mat-card-content>
        </mat-card>
    </div></div>
<div fxLayout="row wrap">

     <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-subtitle><h2>Tickets Por Responsable</h2></mat-card-subtitle>
            </mat-card-header>
            <div class="w-100 h-300p">
                <ngx-charts-bar-vertical-2d
                    [scheme]="colorScheme2"
                    [results]="sales_summary"
                    [showDataLabel]="true"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Estatus"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelectDetalleTicket($event)">
                </ngx-charts-bar-vertical-2d>
            </div>
        </mat-card>

    </div>
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-subtitle><h2>Tickets Por Categoría</h2></mat-card-subtitle>
            </mat-card-header>
            <div class="w-100 h-300p">
                <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="TiketsCategoria"
                    [gradient]="gradient"
                    [showDataLabel]="true"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Categoría"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)">
                </ngx-charts-bar-vertical>
            </div>
        </mat-card>
    </div>
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-subtitle><h2>Tiempo de Atención por Categoría</h2></mat-card-subtitle>
            </mat-card-header>
            <div class="scroll-class" style="max-height: 650px;height: 650px;">
                <ngx-charts-bar-vertical-2d
                    [view]="[1300,550]"
                    [scheme]="colorScheme3"
                    [results]="tiempatencion"
                    [showDataLabel]="true"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Tiempo"
                    legendPosition="right"


                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="ylabelChartTiempo"
                    [yAxisLabel]="xlabelChartTiempo"

                    [barPadding]="5"
                    (select)="onSelectDetalle($event)">
                </ngx-charts-bar-vertical-2d>
            </div>
        </mat-card>

    </div>



</div>
<div   fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-subtitle><h2>Tiempo de Estimado vs Efectivo por Categoría</h2></mat-card-subtitle>
            </mat-card-header>
            <div class="scroll-class" style="max-height: 650px;height: 650px;">
                <ngx-charts-bar-vertical-2d  class="vertical-values-chart"
                    [view]="[1200,500]"
                    [scheme]="colorScheme3"
                    [results]="tiempEstimado"
                    [showDataLabel]="true"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="showLegend"
                    legendTitle="Tiempo"
                    legendPosition="right"


                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="ylabelChartTiempo"
                    [yAxisLabel]="xlabelChartTiempo"

                    [barPadding]="5"
                    (select)="onSelectDetalle($event)">
                    <ng-template #tooltipTemplate let-model="model">
                        <div class="tooltip-container">
                          {{ model.value | number }}
                        </div>
                      </ng-template>
                </ngx-charts-bar-vertical-2d>
            </div>
        </mat-card>

    </div>
    </div>
<div *ngIf="tablavisible" fxLayout="row wrap">
    <div fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-subtitle><h3>Detalle de la categoría: {{CategoriaSeleccionada}}</h3></mat-card-subtitle>
            </mat-card-header>
            <div class="mat-table admin-table">
                <div class="mat-header-row">
                    <div class="mat-header-cell mat-column-id"># Tiket</div>
                    <div class="mat-header-cell mat-column-10">Responsable</div>
                    <div class="mat-header-cell mat-column-10">Tiempo Transcurrido</div>
                    <div class="mat-header-cell mat-column-10">Tiempo Efectivo</div>
                    <div class="mat-header-cell mat-column-10">Tiempo Estimado</div>
                    <div class="mat-header-cell">Detalle</div>
                </div>
                <div *ngFor="let element of detallecategoria " class="mat-row">
                    <div class="mat-cell mat-column-id">{{element.TiketId}}</div>
                    <div class="mat-cell mat-column-10">{{element.Responsable}}</div>
                    <div class="mat-cell mat-column-10">{{element.TiempoTranscurridoNeto}}</div>
                    <div class="mat-cell mat-column-10">{{element.TiempoEfectivoTranscurridoNeto}}</div>
                    <div class="mat-cell mat-column-10">{{element.TiempoEstimado}}</div>
                    <div class="mat-cell" >{{element.Detalle }}</div>



                </div>
            </div>
            <div *ngIf="true" fxLayout="row wrap">
                <div fxFlex="100">
                    <mat-card class="p-0 text-center">
                        <pagination-controls class="product-pagination" autoHide="true" maxSize="5" (pageChange)="onPageChanged($event)"></pagination-controls>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>

 <div  fxLayout="row wrap">
    <div  fxFlex="100" fxFlex.gt-sm="100" class="p-1">
        <mat-card>
            <mat-card-header fxLayoutAlign="center center">
                <mat-card-subtitle><h2>Tiempo de Estimado vs Efectivo por Categoría</h2></mat-card-subtitle>
            </mat-card-header>
            <div  id="chartdiv" style="height: 400px;width: 95%;min-width: 500px;" ></div>
        </mat-card>
    </div>
 </div>
