<table class="table borderless" style="width: 100%;">
    <tr>
        <td colspan="5">
            <div style="background-color:#000000" class="text-center div-catalogo-titulo">
                <h3 style="color:white; padding: 5px;">Divisi&oacute;n Industrial</h3>
            </div>
        </td>
    </tr>
</table>
<div *ngIf="viewType == 'grid'" fxLayout="row wrap" class="products-wrapper">
    <div  fxFlex="100"  [fxFlex.gt-sm]="viewCol"  fxFlex.sm="50" class="col">
        <mat-card class="product-item text-center">
            
            <a  class="image-link">
                <img src="https://dikeninternational.com/mex/catalogos/img/img%20cat.%20quimicos%20industrial.jpg" alt="">
            </a>
            <!-- <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>                                                                      -->
            <a  class="title text-truncate">
                Catálogo de Químicos 
            </a>
            
                                 
            <div class="divider mt-2"></div>
            <div class="icons">
                <a mat-button color="primary" onclick="_gaq.push(['_trackEvent','Descarga externa','PDF Catalogo Alimentos Quimicos',this.href]);" target="_blank" href="https://catalogos.dikeninternational.com/view/621003772/">Ver catálogo</a>
                <!-- <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls> -->
            </div>
        </mat-card>
       
       
    </div>
    <div  fxFlex="100"  [fxFlex.gt-sm]="viewCol"  fxFlex.sm="50" class="col">
        <mat-card class="product-item text-center">
            
            <a  class="image-link">
                <img src="https://dikeninternational.com/mex/catalogos/img/industrial-equipos.jpg" alt="">
            </a>
            <!-- <h4 class="category text-muted">{{ ( appService.Data.categories | filterById : product.categoryId )?.name }}</h4>                                                                      -->
            <a  class="title text-truncate">
                Catálogo de Equipos
            </a>
            
                                 
            <div class="divider mt-2"></div>
            <div class="icons">
                <a mat-button color="primary" onclick="_gaq.push(['_trackEvent','Descarga externa','PDF Catálogo de Equipos División',this.href]);" target="_blank" href="https://catalogos.dikeninternational.com/view/979883791/">Ver catálogo</a>
                <!-- <app-controls [product]="product" (onOpenProductDialog)="openProductDialog(product)"></app-controls> -->
            </div>
        </mat-card>
       
       
    </div>
    
    <br>

    
    </div>