
<div class="container">

<button class="btn btn-primary btn-sm" (click)="back()" >
  <i class="fas fa-arrow-left"></i> Regresar
</button>
<div class="display-6 text-center p-1">Evaluaciones de <span> {{becarios?.nombre}} </span>   </div>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between">
    <div class="row">
      <div class="col">
    <span>1.Evaluación</span>
    </div>
        <div class="col">
        <span class="fecha">{{becarios?.eval_fecha1 | date:'dd/MM/yyyy'}}</span>
        </div>

        <div class="col">
        <button type="button"  (click)="irEvaluar(becarios?.evaluacion)"
        class="btn btn-primary btn-sm"
        [ngClass]="{'btn-primary': !becarios?.ideval1, 'btn-success': becarios?.ideval1}"
         [disabled]="becarios?.ideval1 || becarios?.evaluacion !=1">{{ becarios?.ideval1 ? 'Evaluado' : 'Evaluar' }}
        </button>
        </div>
        <div class="col">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!becarios?.ideval1"
         (click)="irAVerEvaluacion(becarios?.evaluacion, 1)">Ver </button>
        </div>
      </div>
  </li>

  <li class="list-group-item d-flex justify-content-between">
    <div class="row">
      <div class="col">
    <span>2.Evaluación</span>
    </div>
        <div class="col">
        <span class="fecha">{{becarios?.eval_fecha2 | date:'dd/MM/yyyy'}}</span>
        </div>

        <div class="col">
        <button type="button"  (click)="irEvaluar(becarios?.evaluacion)"
         class="btn btn-primary btn-sm"
         [ngClass]="{'btn-primary': !becarios?.ideval2, 'btn-success': becarios?.ideval2}"

         [disabled]="becarios?.ideval2 || becarios?.evaluacion !=2 "  > {{becarios?.ideval2 ? 'Evaluado': 'Evaluar'}} </button>
        </div>
        <div class="col">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!becarios?.ideval2"
         (click)="irAVerEvaluacion(becarios?.evaluacion, 2)">Ver </button>
        </div>
      </div>
  </li>

  <li class="list-group-item d-flex justify-content-between">
    <div class="row">
      <div class="col">
    <span>3.Evaluación</span>
    </div>
        <div class="col">
        <span class="fecha">{{becarios?.eval_fecha3 | date:'dd/MM/yyyy'}}</span>
        </div>

        <div class="col">
        <button type="button"  (click)="irEvaluar(becarios?.evaluacion)"
         class="btn btn-primary btn-sm"
         [ngClass]="{'btn-primary': !becarios?.ideval3, 'btn-success': becarios?.ideval3}"
          [disabled]="becarios?.ideval3 || becarios?.evaluacion !=3"  >  {{becarios?.ideval3 ? 'Evaluado': 'Evaluar'}}  </button>
        </div>
        <div class="col">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!becarios?.ideval3"
         (click)="irAVerEvaluacion(becarios?.evaluacion, 3)">Ver </button>
        </div>
      </div>
  </li>

  <li class="list-group-item d-flex justify-content-between">
    <div class="row">
      <div class="col">
    <span>4.Evaluación</span>
    </div>
        <div class="col">
        <span class="fecha">{{becarios?.eval_fecha4 | date:'dd/MM/yyyy'}}</span>
        </div>

        <div class="col">
        <button type="button"  (click)="irEvaluar(becarios?.evaluacion)"
         class="btn btn-primary btn-sm"
         [ngClass]="{'btn-primary': !becarios?.ideval4, 'btn-success': becarios?.ideval4}"

         [disabled]="becarios?.ideval4 ||becarios?.evaluacion !=4">  {{becarios?.ideval4 ? 'Evaluado': 'Evaluar'}} </button>
        </div>
        <div class="col">
        <button type="button" class="btn btn-primary btn-sm" [disabled]="!becarios?.ideval4"
         (click)="irAVerEvaluacion(becarios?.evaluacion, 4)">Ver </button>
        </div>
      </div>
  </li>

  <li class="list-group-item d-flex justify-content-between">
  <div class="row">
    <div class="col">
  <span>5.Evaluación</span>
  </div>
      <div class="col">
      <span class="fecha">{{becarios?.eval_fecha5 | date:'dd/MM/yyyy'}}</span>
      </div>

      <div class="col">
      <button type="button"  (click)="irEvaluar(becarios?.evaluacion)"
       class="btn btn-primary btn-sm"
       [ngClass]="{'btn-primary': !becarios?.ideval5, 'btn-success': becarios?.ideval5}"

        [disabled]="becarios?.ideval5 || becarios?.evaluacion !=5"  >{{becarios?.ideval5 ? 'Evaluado': 'Evaluar' }} </button>
      </div>
      <div class="col">
      <button type="button" class="btn btn-primary btn-sm" [disabled]="!becarios?.ideval5"
       (click)="irAVerEvaluacion(becarios?.evaluacion, 5)">Ver </button>
      </div>
    </div>
</li>
</ul>
</div>
