<mat-card>
  <mat-card-header fxLayoutAlign="center center">
    <mat-card-subtitle><h2>Ventas por mes</h2></mat-card-subtitle>
  </mat-card-header>
  <div class="w-100 h-400p">
    <ngx-charts-bar-vertical
      [results]="data"
      [scheme]="colorScheme"

      [gradient]="gradient"
      [showXAxisLabel]="showLabels"
      [showYAxisLabel]="showLabels"
      [xAxis]="showLabels"
      [yAxis]="showLabels"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [tooltipDisabled]="tooltipDisabled"
      [barPadding]="barPadding"
      [animations]="animations"
      [yScaleMax]="yScaleMax"
      [showDataLabel]="true"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
</mat-card>
