

<h2 class="titulo">Cambio de contraseña</h2>

<form class="centered-form">

  <div   [hidden]="true">
    <label for="P_UsuarioId">ID:</label>
    <input  type="text" id="P_UsuarioId" name="P_UsuarioId" [(ngModel)]="formData.p_UsuarioId" required>
  </div>

  <!-- <div   [hidden]="true">
    <label  for="P_Usuario">Usuario:</label>
    <input type="email" id="P_Usuario" name="P_Usuario" [(ngModel)]="formData.p_Usuario" required>
  </div> -->
<!-- lo de arriba no se vera solo la contraseña de los input, pero no se debe eliminar lo de arriba  -->

  <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Contraseña</mat-label>
    <input matInput  [type]="hide ? 'password' : 'text'" alt="strongPass" required [(ngModel)]="formData.p_Password" name="password"
      pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,15}$" #passwordField>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    <mat-error *ngIf="formData.p_Password?.length < 6 || formData.p_Password?.length > 15">
      La contraseña debe tener entre 6 y 15 caracteres.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-form-field2" appearance="fill">
    <mat-label>Confirmar Contraseña</mat-label>
    <input matInput  [type]="hide ? 'password' : 'text'"  required [(ngModel)]="formData.confirmPassword" name="confirmPassword"  #confirmPasswordField>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="formData.confirmPassword !== formData.p_Password && formData.confirmPassword !== ''">
      Las contraseñas no coinciden.
    </mat-error>
  </mat-form-field>

  <button class="boton1" mat-raised-button color="primary" (click)="mostrarMensajeAlerta()" [disabled]="formData.p_Password?.length < 6 || formData.p_Password?.length > 15  || formData.confirmPassword !== formData.p_Password" > Cambiar Contraseña</button>

  <!-- <button  type="submit" (click)="mostrarSnackBar(message)">Ver una alerta ejemplo</button> -->


      <button [hidden]="true" type="submit" (click)="submitForm()">Cambiar Contraseña</button>
      <button [hidden]="true" type="submit" (click)="verificarCorreo()">Verificar Correo</button>

      <button type="submit" [hidden]="true" (click)="obtenerIdConToken(formData.usuarioId)"> ejemplo para ver el id</button>
  </form>


  <div *ngIf="showConfirmation">
    <div class="confirmation-dialog">
      <p>¿Estás seguro de que deseas cambiar tu contraseña?</p>
      <button mat-button (click)="cambiarNuevaContra ()">Aceptar</button>
      <button mat-button (click)="showConfirmation = false">Cancelar</button>
    </div>
  </div>


